[2018-08-10 07:22] friktor opened #1 "Project Name Conflicts"
At the moment I already have an existing Rust project called "Rise" -- the GUI library. For the project there is a registered domain rise.rs, and an organization "rise-ui". I would like to avoid any confusion in the future, so let's discuss how would we solve the problem with name conflicts. I did not reserve the project name on crates.io because rise-ui has github webrender dependency, and crates

[2018-08-10 16:11] aturon commented on #1
Hi @friktor, thanks for the heads up about this! I had searched for web frameworks (in any language) and crates named Rise, but looks like that wasn't enough :joy:

I'll work with @yoshuawuyts and the rest of the WG to figure out an alternative and we can transfer ownership of the name on crates.io

[2018-08-10 16:28] yoshuawuyts commented on #1
@friktor we've renamed the project to `tide`, as in "the rising _tide_" :tada: -- I've also invited you to be an owner of `tide` on crates.io. The only inconvenience is that the `0.1.0` version is already taken, but hopefully that's not too much of a problem.

All in all I hope this ends up being an adequate resolution. Thanks for raising this; excited to see what comes out of both `rise` and `tid

[2018-08-10 16:28] #1 closed

[2018-11-08 04:25] aturon opened #2 "Factor out `url_table` into its own crate"
The [`url_table` module](https://github.com/rust-net-web/tide/blob/master/src/url_table.rs) implements *generic* routing that is not tied to any other aspects of Tide. It should be pulled out into its own crate, after deciding on a final name.

[2018-11-08 04:30] aturon opened #3 "Use reference types in endpoints"
Currently, there's no way to write a trait bound that corresponds to an `async fn` that takes borrowed arguments. Because of that restriction, endpoints have to be passed fully owned data, which forces app data to be a cloneable handle.

Once https://github.com/rust-lang/rust/issues/51004 is closed, revisit these APIs (which will also have an impact on the structure of `Middleware`).

[2018-11-08 04:36] aturon opened #4 "Support "mounting" subrouters and route-sensitive middleware"
Right now, all routes and middleware must be set up at the top-level `App`. However, it's often useful to be able to nest an existing router (or potentially `App` at a given route inside another `App`. Similarly, it should be possible to set up middleware at specific nestings within a router, so that it only applies to paths with a specific prefix.

To sketch, this might look something like:

[cod

[2018-11-08 04:47] aturon opened #5 "Add configuration (for extractors and middleware)"
Most extractors and middleware should be configurable. But that presents some challenges:

- Extractors are given as *argument types* to endpoints, so there's no obvious value to attach configuration to.
- Middleware configuration may want to be tweaked in route-specific ways.

One approach for solving these problems is to use a typemap for configuration, allowing extractors and middleware to prov

[2018-11-08 04:48] aturon opened #6 "Handle chunk-level errors"
The [`body` module](https://github.com/rust-net-web/tide/blob/master/src/body.rs) contains a few unwraps where hyper produces an error when getting chunks (see the `TODO` comments). Just needs to be thought through and improved.

[2018-11-08 04:51] aturon opened #7 "Add more body types"
Currently the only `Body` extractor/constructor we offer is [`Json`](https://github.com/rust-net-web/tide/blob/master/src/body.rs#L115-L149).

We should at the very least offer types for working with the body as a raw `Vec<u8>` or `String`, but perhaps add some additional serde-based types as well.

[2018-11-08 04:54] aturon opened #8 "Logging middleware"
Design and implement middleware for logging, drawing inspiration from (or even re-using) that from existing Rust web frameworks.

[2018-11-08 04:55] aturon opened #9 "Session management"
Work out a good story for session management in Tide. No need to reinvent the wheel here: this can probably follow an approach taken by an existing framework, like actix-web.

[2018-11-08 04:57] aturon opened #10 "Customize route failure response"
Right now, Tide always returns an empty 404 response when there is no route match. This should be customizable.

Possibly blocked by https://github.com/rust-net-web/tide/issues/5, if we want to use the same configuration mechanism for this.

[2018-11-08 04:59] aturon opened #11 "Add `finish` to `Middleware`"
The [`Middleware` trait](https://github.com/rust-net-web/tide/blob/master/src/middleware.rs) is heavily inspired by actix-web's, but does not currently offer a `finish` method (to be called after the response has been transmitted), because it's not trivial to do so using hyper's current APIs.

It should be *possible* to do this by placing the body into a custom stream wrapper that, when the underl

[2018-11-08 05:02] aturon opened #12 "Nail down wildcard/fallback rules"
The initial implementation of the router uses *greedy* matching for URL segments. Imagine you have two routes:

- `foo/{}/baz`
- `foo/new/bar`

The URL `foo/new/baz` will *fail to be routed*, because the `new` component will be greedily matched (concrete segments are always preferred over wildcards) and there is no backtracking.

This behavior is the simplest to implement, but it's not clear that

[2018-11-08 05:07] aturon opened #13 "Support named path extraction"
The router supports both named (`{foo}`) and anonymous (`{}`) wildcards, but Tide only has an extractor (`Path`) for the latter.

However, extractors are given `RouteMatch` structures which contain named match information.

All that's needed is to add an additional extractor type for extracting path components by name. Here's a sketch:

[code]

[2018-11-08 05:08] aturon opened #14 "Support query extraction"
Provide a convenience for extracting the query portion of the URL.

[2018-11-08 05:10] aturon opened #15 "Add app-level tests"
Right now the only tests are for the generic `UrlTable` type, not for `App` itself. Figure out a test harness strategy for `App` and write some tests.

[2018-11-08 05:14] aturon opened #16 "What useful computed properties can we provide?"
When a value can be lazily computed by request information, it's much nicer to make that value available through [the `Compute` trait](https://github.com/rust-net-web/tide/blob/master/src/request.rs#L12) (and `Computed` extractor) rather than e.g. using middleware or plumbing the `Head` data manually in an endpoint.

What are some examples of such values? One might be: a parsed version of the quer

[2018-11-08 05:15] aturon opened #17 "Add code examples to API docs"
The existing API docs were written quickly and don't have examples yet. Let's get some added!

[2018-11-08 05:15] aturon opened #18 "Document routing syntax"
The `at` method should be documented with the router syntax and fallback semantics.

[2018-11-08 05:16] aturon opened #19 "Document endpoint signatures"
The `Endpoint` trait documentation should give the key information of *what `Fn` types are actually endpoints*.

[2018-11-08 05:18] aturon opened #20 "Build a larger example app"
The current set of files in `examples` are extremely simple. It'd be great to build some more realistic (but still small) apps, both for documentation and as a way to try out the framework.

[2018-11-08 05:19] aturon opened #21 "Flesh out the README"
The README should provide, at least:

- A hello-world-style example
- A quick introduction to the main concepts of Tide
- Links for where to find more information

[2018-11-08 05:21] aturon opened #22 "Add form extractors"
Definitely take a look at [Rocket](https://rocket.rs/v0.4/guide/requests/#forms), [Actix](https://actix.rs/docs/extractors/), and other frameworks for opportunities for reuse!

[2018-11-08 05:22] aturon opened #23 "Handle HEAD requests"
There's currently no special handling for `HEAD` requests, but usually frameworks give you a nice way to automatically handle them (given an implementation of `GET`).

[2018-11-08 05:23] aturon opened #24 "URL generation"
We need a story for generating URLs in code, given values for various parameters. One possibility would be to use *named routes*, like Actix does.

Let's discuss possible designs here, before implementing.

[2018-11-08 05:24] aturon opened #25 "TLS"
Add support for TLS.

[2018-11-08 05:38] aturon opened #26 "Middleware for compression"
A good test of the middleware system would be to implement gzip compression as middleware (transforming the body and headers on the way in/out).

[2018-11-08 05:39] aturon opened #27 "Ergonomic content negotiation"
Content negotiation is not (currently!) part of routing in Tide, but we should decide whether we want that to change, and if not, how to make it easy for an endpoint to internally perform content negotiation.

[2018-11-08 11:32] yoshuawuyts commented on #26
This would tie in nicely with https://github.com/rust-lang-nursery/wg-net/issues/52

[2018-11-08 12:03] Keats commented on #24
Copying my comment from internals:

Let’s say you have the following routes:

`order-details: /orders/{id}`
`checkout: /checkout`

and imagine you want to redirect the user after a POST on the checkout route to its order page with the newly created order ID. In Django you would redirect to the URL given by reverse("order-details", kwargs={'id': order.id}).

This requires 2 things (well 3, I’ll exp

[2018-11-08 15:16] davidbarsky commented on #25
A small data point: At work, we've been pushing folks to use and out-of-process proxy (very similar to [Envoy](https://www.envoyproxy.io/)) that handles TLS termination. That system handles a _lot_ of complexity for people. It might be worth telling folks using Tide to heavily consider _not_ handling TLS themselves and instead outsource it to a system like [Linkerd](https://linkerd.io/), [Envoy](h

[2018-11-08 15:47] yoshuawuyts commented on #25
The [`tls-api`](https://crates.io/crates/tls-api) seems very intriguing: it's a TLS trait with multiple backends that can be swapped out. It seems like a pretty cool idea, but as a caveat the last update was 4 months ago.

Other options for TLS would include:
- [`rust-native-tls`](https://github.com/sfackler/rust-native-tls) - picks whichever TLS implementation is available on the target platform.

[2018-11-08 17:09] skade commented on #25
Interestingly, while I agree that deployment usually works well through terminating/offloading proxies, TLS support during development is an incredibly nice thing to have, catching many errors on https deployments early.

[2018-11-09 05:13] bIgBV commented on #8
I'd like to take a crack at it, it seems like a good way to get to know the codebase and also a chance to understand how other rust frameworks work.

[2018-11-09 09:18] pickfire commented on #16
Maybe we can pre-compute the `ETag` and `Last-Modified`? This might be a usecase for some API but I have yet seen some interesting implementation for this.

[2018-11-09 09:48] yoshuawuyts commented on #8
Some prior art in framework loggers:
- [actix-web/logger.rs](https://github.com/actix/actix-web/blob/master/src/middleware/logger.rs)
- [rocket/logger.rs](https://github.com/SergioBenitez/Rocket/blob/v0.4/core/lib/src/logger.rs)
- [gotham/logger.rs](https://github.com/gotham-rs/gotham/blob/master/gotham/src/middleware/logger/mod.rs)
- [warp/log.rs](https://github.com/seanmonstar/warp/blob/master/s

[2018-11-09 18:05] aturon commented on #8
@bIgBV great, please do! We can use this thread to coordinate any further design questions -- and thanks much @yoshuawuyts for the preliminary research! <3

[2018-11-09 18:33] bIgBV commented on #8
@yoshuawuyts thank you so much for the great literature. I've got a nice 4 hour flight ahead of me, so I'm going to spend some time reading the paper and going through the codebases of the frameworks you mentioned here.

@aturon yeah, I was curious about where I can ask further questions, but using the issue would be a good idea for having a reference in the future if we ever want to revisit a cer

[2018-11-09 20:54] aturon opened #37 "Remove usage of `FutureObj` and `StreamObj`"
The `FutureObj` and `StreamObj` types were initially important because the `Future` and `Stream` traits were not object safe (so `Box<dyn Future>` didn't work directly). However, that problem has been addressed in nightly, so the Tide code should be updated to use `Box` instead.

Note that `FutureObj<'a, T>` is equivalent to `Box<dyn Future<Output = T> + Send>`.

[2018-11-10 19:30] chrisabruce opened #41 "Ergonomics of `head` and `request` modules"
Consider merging some of the functions from `head.rs` into `request.rs` to offer a more ergonomic approach to getting parameters from a request.

Should these be moved into `request.rs` from `head.rs`:
- `pub fn uri(&self) -> &http::Uri`
- `pub fn path(&self) -> &str`
- `pub fn query(&self) -> Option<&str>`
- `pub fn method(&self) -> &http::Method`

A code example would then look more like the fol

[2018-11-11 02:41] KodrAus commented on #8
Tangentially related: we're trying to get some kind of [structured logging into the `log` crate](https://github.com/rust-lang-nursery/log/pull/296). It's still very much in the design phase though.

I think besides structured logging one of the big things for a web framework is contextual logging so that a correlation id can be associated with each request and used for later aggregation. One inter

[2018-11-11 16:03] #7 closed

[2018-11-11 18:30] mythmon commented on #13
With #32 merged, should this issue be closed, or is there more work to do?

[2018-11-11 22:55] tzilist commented on #16
Another one might be a passport type thing to handle different types of authentication? This may not be something worth providing out of the box from tide but certainly worth showing an example of?

[2018-11-12 02:11] tzilist commented on #16
@chrisabruce agreed. I wonder if we can provide scaffolding for something like basic auth, oath, etc. But I think you are right, that should probably be middleware.

[2018-11-13 09:37] tzilist commented on #16
We could also provide a set of tools for performing health checks?

[2018-11-13 22:50] aturon commented on #23
Closed by https://github.com/rust-net-web/tide/pull/31

[2018-11-13 22:50] #23 closed

[2018-11-13 22:51] #14 closed

[2018-11-14 00:53] chrisabruce commented on #41
Sorry for the confusion.  To simplify, in most frameworks, you interact with a "request" type object to get data like path, method, query, etc.

So I am suggesting that maybe we figure out a way to make a call like:
`head::Path<usize>`

_look like_

`request::Path<usize>`

Maybe it is no big deal, but just considering being consistent with many other frameworks from other languages I have experien

[2018-11-14 17:23] tirr-c commented on #4
I came up with an idea, will try when I have enough time (maybe this weekend.)

Basic idea is,
* Make `Router::at` public
* Move `middleware` into `Router`
* `App::router(&mut self)` will return top level router
* `Router::nest<F: FnOnce(&mut Router)>(&mut self, builder: F)` will build a new `Router` and mount it into `self`

[2018-11-15 11:10] J-F-Liu commented on #4
I think the middleware design of [KOA](https://koajs.com/) framework is quite good, can we do something similar in Rust?
[code]

[2018-11-16 05:00] bIgBV commented on #8
As I've been thinking of the design for logging, I'm just writing out some thoughts here.

One thing that came to mind is the difference between configuration between different environments in which the application is run. Coming from Django, the conventional way of doing it is having different settings which use the [dictConfig format](https://docs.python.org/3/library/logging.config.html#logging

[2018-11-17 21:13] aturon opened #45 "Strip the result body when creating default HEAD responses"
If you don't specify a `HEAD` behavior but you do provide `GET`, Tide will automatically use the `GET` behavior. But it retains the body, which should be stripped.

[2018-11-17 21:43] aturon commented on #41
Got it, makes perfect sense!

[2018-11-18 02:45] bIgBV commented on #8
Expanding on the previous message, I think a good starting point is to first have a private integration with slog, where we create a root logger and a corresponding logging middleware which is created by default when a new App instance is initialized.

Following this, we can provide macros/functions to perform logging which wrap a child logger of the root logger for any user to import into their c

[2018-11-18 21:06] KodrAus commented on #8
Getting started with a private integration sounds like a good way to go to me :+1: There are also benefits to just picking a framework and bundling it though. If we didn't want to expose the logging framework directly then I imagine we might eventually end up producing a bridging API that frameworks would conform to so the user could decide exactly how they want to integrate logging into their app

[2018-11-18 21:42] bIgBV commented on #8
Yeah, that definitely makes sense. I've begun work on getting a very simple logging middleware using slog integrated into the framework codebase. I should have a PR open for it soon. Once the base is in place, we could have more discussion around the external API.

[2018-11-18 23:04] bIgBV opened #48 "Shouldn't Middleware functions take &mut self?"
Is there any reason why middleware functions cannot take `&mut self`? Middleware could enable storing some state when a request comes in and then use that state during the response phase. I'm facing the same issue right now when implementing #8. I figured that at the minimum when someone firsts starts using Tide, they should see a simple log in the terminal of the format:

[code]

But in order to

[2018-11-19 00:11] tzilist commented on #48
Sorry accidentally closed this! My bad!

Meant to leave this comment:

It might be worth storing a optional mutable context that is passed along with each request as opposed to just the middleware itself? That'll allow devs to separate out the functionality of the middleware vs what needs to be stored on each request? I dunno - just a thought!

[2018-11-19 04:56] tzilist commented on #45
@aturon did a little diggin into this, not sure if I am reading this right either, but it seems like hyper handles this for us. In the current code on master here are some example responses from curl
I'm running the `named_path` example:
[code]
Returns
[code]

and the head request:

[code]
returns
[code]

Perhaps I am missing something though. Thoughts?

[2018-11-19 05:56] tirr-c commented on #48
Middleware may be shared among multiple threads, so we can't take a mutable reference (it leads to data races). Instead, you can use [some `sync` types][sync] for middleware state.

[sync]: https://doc.rust-lang.org/std/sync/index.html

[2018-11-19 14:39] DeltaManiac commented on #45
@tzilist

I had observed the same behavior while testing #31.
Guess i missed something too :)

[2018-11-19 18:54] bIgBV commented on #48
@tirr-c I did not realize that. Correct me if I'm wrong, but I'm guessing the reason Middleware may be shared amongst threads is because the executors themselves are running in a threadpool and the futures could be spawned on any of those threads right?

If that's the case, then I have to put the shared state behind a Mutex, right?

[2018-11-19 18:57] aturon commented on #45
That's very interesting. I haven't been able to track down where this is happening in Hyper...

[2018-11-19 19:12] aturon commented on #48
@bIgBV correct.

I think it'd actually be a good idea to open an issue for talking about the threading model in general -- I haven't put a ton of thought into it and there are lot of potential options.

[2018-11-19 19:31] bIgBV commented on #48
@aturon what do you mean by the threading model? Isn't Tide using hyper internally, meaning it's running on tokio? How can we have a different threading model than the one on top of which we are building? Or am I not understanding this right?

[2018-11-19 20:13] bIgBV opened #50 "What should be the threading model in Tide"
Based on the discussion in #48 I'm creating this issue to discuss the general threading model in Tide.

[2018-11-19 20:14] bIgBV commented on #48
Just opened #50 and my original question has been answered, so closing this. issue.

[2018-11-19 20:14] #48 closed

[2018-11-19 21:27] tzilist opened #51 "Implement OPTIONS http method"
This is a pretty common http method when using javascript's `fetch` api with CORS enabled. I think Tide should probably be able to automatically be able to handle this based on what routes are set and what corresponding methods are available.

[2018-11-19 23:17] aturon commented on #50
As @bIgBV points out elsewhere, to some degree we're dependent on hyper here, though its low-level APIs potentially give more flexibility.

A couple questions to consider:

- Where should endpoint code run? Should we set up a thread pool and spawn endpoint code there always? Make that optional?

- For the parts of the server that *aren't* tied directly to endpoints -- i.e., routing, middleware, et

[2018-11-19 23:19] aturon commented on #20
Some things to demonstrate:

- Accessing a database, perhaps using Diesel
- Using real templating
- Authentication
- Session management

Some typical example apps people like to see:

- A todo list app
- A blog, complete with comments

[2018-11-19 23:20] aturon commented on #2
@tirr-c this might be a good one for you to take on after nested routing!

[2018-11-19 23:34] aturon commented on #10
Also note that currently no middleware is applied to this fallback 404 responder. Worth thinking if that's what we want.

[2018-11-19 23:41] aturon opened #53 "Factor out low-level http server concerns"
Right now, Tide defines several general-purpose data types (like `Body`) and mucks around with futures-compat layers for using Hyper. These things aren't Tide-specific, and should be factored out as a separate crate that layers on top of Hyper, so that others can use them more easily.

[2018-11-19 23:42] aturon commented on #53
FYI: I'm working on this issue.

[2018-11-19 23:51] tzilist commented on #10
@aturon Currently working on this. Thought process is as follows:

We can allow user's to specify a default handler. This function will run if no route match is found. The other thing i'd like to implement is an error handler akin to actix-web's, [see here](https://github.com/actix/actix-web/blob/master/src/middleware/errhandlers.rs#L33). I think between the two of them, that should give a pretty

[2018-11-19 23:52] bIgBV commented on #5
So as I'm working on #8 I figured I would add my own thoughts around this. When it configuration, different web frameworks have different ways of going about it. The two chief ways I can think of are:

1. Parsing from a config file/environment
2. Programatic control.

There are pros and cons to both of them, but I think the most flexible solution would be to have a set of defaults, which are overr

[2018-11-19 23:53] aturon opened #54 "Consider "around" middleware design"
The current middleware design is based on a "before"/"after" split. We could instead have each middleware invoke the rest of the middleware/endpoint chain.

[2018-11-19 23:56] aturon commented on #54
(I have a bunch of thoughts/design constraints here, will write them up ASAP)

[2018-11-20 00:13] bIgBV commented on #8
I was thinking about the the way to add logging internal to the framework. One design idea I have is to to store the logger in the `App` struct. This was the `RootLogger` can be used wherever the App struct is passed to. But I don't think it's the best idea.

Any thoughts?

[2018-11-20 00:14] zmlzm commented on #53
@aturon there is also a new [Actix-http](https://github.com/fafhrd91/actix-http) http library, I find.

[2018-11-20 15:16] tirr-c commented on #54
[Koa] also uses "around" middleware approach. Koa goes one step further; everything is middleware, even [the router]! In this way, fallback handler can be implemented as the deepest middleware on the chain. When the router fails to route, it'd invoke the next middleware.

[Koa]: https://github.com/koajs/koa
[the router]: https://github.com/alexmingoia/koa-router

[2018-11-21 20:00] bIgBV commented on #8
So I think I found out how to capture log statements from the log crate, [see here](https://docs.rs/slog-stdlog/3.0.4-pre/slog_stdlog/#slog-scope). So if set up correctly, this will provide two way interoperability between log and slog making for a really flexible API.

[2018-11-22 13:08] #22 closed

[2018-11-22 17:57] tirr-c opened #56 "Separating app-global data and request-local data"
Currently there is `Data` we can give to `App`. It is owned by the App and looks like an app-global state, but acts like a request-local state. It is cloned on *every* request. I think this can lead to confusion because some states persist between requests (e.g. `Arc<Mutex<T>>`) and some do not.

My proposal is to:

* Make middleware get an immutable reference to App data. This way it becomes clea

[2018-11-22 23:47] KodrAus commented on #8
@bIgBV Neat! The only challenge there is that it looks like `slog_stdlog` requires an old version of `log`, so I think folks might run into trouble with mismatched dependencies if they try use it. It looks like [there's a PR to fix that though](https://github.com/slog-rs/stdlog/pull/5).

[2018-11-23 00:14] bIgBV commented on #8
@KodrAus but looks like the PR has been inactive for a while :/

[2018-11-23 01:04] KodrAus commented on #8
@bIgBV It looks like it, doesn't it. So we might just want to roll our own `log -> slog` integration. Oh I just noticed you've got a PR up, so maybe we could look at integration and public API once we've got the internal logging sorted?

[2018-11-23 01:51] bIgBV commented on #8
@KodrAus  Yeah, that was my initial plan. The PR is just to get internal logging started. At least something as basic as what requests are being served by the application. Once this is in place, I was planning for hooking into configuring different drains, the default being writing to the stdout, but adding support for writing to files and as such. Once this PR is merged, developers can start usin

[2018-11-23 11:36] colinbankier commented on #20
https://realworld.io/ is a nice "standard" example app that might be nice to try implement. It looks like the backend is API only, so doesn't demonstrate real templating though. Maybe could be in addition to a more "self contained" example app.

I'd be interested in having a go.

[2018-11-23 14:45] aturon commented on #20
@colinbankier That sounds fantastic -- please do! Feel free to reach out on this issue or the #wg-net-web channel on [Discord](https://discord.gg/rust-lang) for questions/discussion as well.

[2018-11-24 13:33] aturon commented on #45
@seanmonstar maybe you can provide a quick answer: does Hyper have built-in treatment for `HEAD` requests and if so, what is it?

[2018-11-24 15:47] tirr-c commented on #4
@J-F-Liu Seems like #54 is the thing.

[2018-11-24 15:49] #4 closed

[2018-11-25 10:51] aturon commented on #56
Lemme clarify a bit where the current design came from.

Unfortunately, right now with `async fn` there are some compiler limitations around borrowing, which prevent us from easily passing in `&Data` to the endpoint:

[code]

gives

[code]

Eventually this compiler limitation will be fixed, but we have to work around it for now.

So instead, the intent was that app data would be a cloneable "handl

[2018-11-25 11:18] aturon commented on #56
OK, I tried out the experiment I had in mind (a way to thread references to `Data` throughout), but it hit a snag that hyper requires the root server code to be `'static`. So I think we just have to stick with `Arc` and cloning for now, until the compiler limitation is fixed.

[2018-11-25 14:57] #2 closed

[2018-11-25 14:58] aturon opened #60 "[Discussion] 0.1 release criteria"
Let's brainstorm about what we'd like to get done before making a 0.1 release to crates.io!

[2018-11-25 15:42] tirr-c commented on #13
I think this is good to close.

[2018-11-25 15:42] #13 closed

[2018-11-25 16:05] tirr-c commented on #60
It will be nice if we have these features:

* Custom default handler (#10)
  - @tzilist is implementing this.
  - In addition, we might want to run a chain of middleware *even if* routing fails. Some middleware like compression should run regardless of the routing result.
* Configuration (#5)
  - I have a vague idea on the design, which can cover default configuration, initialization from file/env

[2018-11-25 16:10] sendilkumarn commented on #60
For 0.1, would love to see #51 landing. This will enable us to create a complete web app (easily) with a separate frontend with any framework and backend with tide and diesel.

P.S. I have a working example with tide + diesel + frontend.

[2018-11-25 16:30] aturon commented on #60
@tirr-c

Yeah, I was wondering how we might want to approach that. Want to open up an issue for further discussion?

I'm going to set up a 0.1 milestone and we can start marking issues, including the ones y'all have mentioned here. I'll also open some additional issues around docs.

[2018-11-25 16:34] aturon commented on #11
Closing -- no longer relevant.

[2018-11-25 16:34] #11 closed

[2018-11-25 16:36] aturon commented on #60
OK, here's the [0.1 milestone](https://github.com/rust-net-web/tide/milestone/1), populated with most of the things mentioned here, other than a new issue for "always-applied" middleware.

[2018-11-25 16:36] aturon commented on #60
@sendilkumarn

😍

[2018-11-25 16:40] tirr-c opened #61 "Always-applied middleware"
Currently Tide won't run any middleware if the routing fails. We might want to change this, as some middleware should run regardless of the routing result, such as logging or compression.

The easiest way I can think of is:
* Only apply middleware of the top-level router.
* Run a chain of middleware with empty `RouteMatch`. Alternatively, we can make `RouteMatch` optional to indicate the routing h

[2018-11-25 16:41] tirr-c commented on #60
Opened #61 and added it to the milestone.

[2018-11-25 16:52] tirr-c commented on #61
One step further: we might be able to turn routing logic into middleware, and let the middleware chain do the work. The problem is that the routing will generally be the last step of top-level middleware application. That means, the other top-level middleware won't have access to `RouteMatch`.

[2018-11-25 17:03] aturon commented on #61
Personally, I'm a bit wary of trying to move routing fully into middleware -- it's a very clever idea, but in my experience these kinds of extreme unifications often end up hurting more than they help.

I think the proposal in the original post sounds good, and I like the idea of having `RouteMatch` clearly signal that no match occurred by using `Option`.

[2018-11-25 17:28] tirr-c opened #62 ""Catch-all" endpoint"
Sometimes, especially with static file serving, it's necessary to route *all* subpaths to one endpoint. For example, if `/static` is that kind of "catch-all" endpoint, paths like `/static/foo.txt` and `/static/images/bar.jpg` will be routed to that endpoint.

We can't make a catch-all endpoint with current router API, so we need to implement one.

[2018-11-25 17:56] sendilkumarn opened #63 "Allow the routing methods to open a static file"
[code]

P.S. Something similar to Rocket's NamedFile

[2018-11-25 18:01] skade commented on #9
Ideally, I'd prefer all the algorithmic parts of session handling (and strategies) implemented as libraries somewhere.

[2018-11-25 18:04] aturon commented on #9
Definitely! The whole idea with Tide is to keep as much in the library ecosystem as possible. In some cases we're starting with code here for convenience and then moving it out.

I'm not sure what's currently available in the ecosystem here that's not tied to an existing framework. If we need new general purpose crates, can add to the rust-net-web org.

[2018-11-25 18:50] bIgBV commented on #8
@aturon I've got a question regarding the 404 handler. I want to add a log statement to the handler to the following line:

https://github.com/rust-net-web/tide/blob/9ee7426fda8c337d2ead99c9f92612a23f31d243/src/app.rs#L125-L129

But in order to do that, I need access to the `RootLogger` which is a part of the middleware. Do you know of a way to go about doing that?

One idea I have is to override

[2018-11-25 19:14] bIgBV commented on #21
Regarding this point:

For now this should be the links to the following few posts right:

* [Routing and extraction](https://rust-lang-nursery.github.io/wg-net/2018/10/16/tide-routing.html)
* [Rising tide](https://rust-lang-nursery.github.io/wg-net/2018/09/11/tide.html)
* [Middleware in Tide](https://rust-lang-nursery.github.io/wg-net/2018/11/07/tide-middleware.html)

[2018-11-25 21:31] bIgBV commented on #54
I know this was merged recently, but can you guys go into a little detail as to the pros of such a middleware design?

[2018-11-25 21:46] aturon commented on #54
For sure! Here are some thoughts:

- First, we can easily provide constructors for before/after-style middleware as well. At some point in the PR, @tirr-c had both available. So we don't lose anything, and if we find it's more convenient to write in that style, we can give a way to do it.

- This "around" style middleware makes it easier to pass information from "before" to "after" computations; y

[2018-11-25 22:09] bIgBV commented on #54
Awesome, that makes a lot of sense. One thing I'm still not entirely sure of is how data is shared between different middleware and between middleware and the endpoint.

Am I right in thinking that the `Data` in a `RequestContext` will be used for sharing data between middleware and endpoints? I'm still not sure how it will be shared between two middlewares though.

[2018-11-26 00:59] tzilist commented on #60
In regards to this, I am thinking that I will have the router handle this instead of how we are handling it [here](https://github.com/rust-net-web/tide/blob/master/src/app.rs#L114-L118). I suppose my idea here is that instead of having to have separate logic around whether a route is found or not, the user can just specify a response (just like any other endpoint) and the middleware will behave th

[2018-11-26 01:00] tzilist commented on #8
@bIgBV I am hoping once I finish up the PR for allowing a fallback handler, this should be solved automatically :) Hopefully should have something in the next few days!

[2018-11-26 01:06] tzilist commented on #60
Other thoughts (or really mostly echos 😄 ):

- I'll echo @sendilkumarn comment and even expand on it. I think tide should handle `OPTION`, `CONNECT` and `TRACE` automatically.
- Finalize config spec as @tirr-c mentioned. Specifically, we really should have a way to handle compilation configs and runtime configs.

[2018-11-26 04:51] bIgBV commented on #60
I'll echo on a couple of points:

* Compile time and runtime configuration
* Staticfile serving
* Templating examples.

I'd like to see some sort of logging infrastructure provided for users of Tide as a part of 0.1, but I don't think it is a blocking concern.

[2018-11-26 04:58] bIgBV commented on #62
An idea that comes to mind is using a setup similar [to the one in Django](https://docs.djangoproject.com/en/2.1/howto/static-files/). We can have a `STATIC_URL` set up through configuration. This I think would be a relatively easy way to add a catch all endpoint.

Of course, the issue would be that depending on the way config is done, you won't be able to change the URL programatically.

[2018-11-26 05:44] aturon commented on #60
cc @killercup

[2018-11-26 05:48] aturon commented on #60
@tzilist @bIgBV would you mind opening issues for the items on your lists that don't have issues yet? I'll get them tagged and on the milestone, and that way we'll have a good place to talk through the design as well!

[2018-11-26 09:50] leaxoy opened #65 "Add benchmarks"

[2018-11-26 10:31] pbvie commented on #17
I'd like to take on this one. Seems like a great way to get to know the project.

[2018-11-26 10:34] hseeberger commented on #18
I think I'd like to give it a shot, because I'm a Rust and Tide newbie and hence a documentation task seems a good entry point.

I'm not quite sure though what kind of documentation to create – I guess we are talking about documentation comments (`///`), right?

[2018-11-26 10:39] ibaryshnikov opened #67 "WebSockets support"
Is there a way to use websockets in tide?

[2018-11-26 11:17] ibaryshnikov opened #69 "Encoding for plain text is not declared"
With **hello** example i get an error in the browser console:
`The character encoding of the plain text document was not declared. ...`

[2018-11-26 14:22] skade opened #73 "Proposal: Introduce the notion of a middleware stack"
Currently, the type of a collection of middlewares is `Vec<Arc<dyn Middleware<Data> + Send + Sync>>`. I think it would make sense to introduce a proper `MiddlewareStack` type that itself implements `Middleware`. This allows better sharing of middleware instances and the way to address them, for example for debugging.

[2018-11-26 16:05] skade opened #75 "Proposal: Rename `App`"
Currently, the `App` object is a mix between a builder (it's the interface to globally manipulating the router) and can be turned `into_server` and a global entry point into building something that can be called into. I'm not sure if `App` is a good name for it.

Mainly, it collides with a frequent usage of `App` in other frameworks, for example, Django uses `App` four a _mountable_ subapp (basica

[2018-11-26 17:56] seanmonstar commented on #45
hyper will try to prevent illegal HTTP semantics, like sending a body in response to `HEAD` requests, or in `204`/`304` status codes.

It may still be useful to recognize a `HEAD` request is different from a `GET` in cases where *preparing* the body may have been expensive.

[2018-11-27 03:43] bIgBV opened #77 "High level guide for Tide"
Currently, if a new user wanted to understand some of the core ideas behind Tide, they would have to find their way to the following blogposts:

* https://rust-lang-nursery.github.io/wg-net/2018/10/16/tide-routing.html
* https://rust-lang-nursery.github.io/wg-net/2018/09/11/tide.html
* https://rust-lang-nursery.github.io/wg-net/2018/11/07/tide-middleware.html

I think that we need to collect the i

[2018-11-27 03:47] bIgBV commented on #8
@tzilist I really liked the way the issue was handled. I really like this approach.

Now that a basic logger is a part of the framework, I'd like to now focus on providing with a simple API for developers of Tide to add logging statements. By default slog strips [trace and debug](https://docs.rs/slog/2.4.1/slog/#notable-details) logs, so it would be pretty useful for developers when implementing n

[2018-11-27 05:06] DeltaManiac commented on #77
We could follow the same path of the Rust Wasm group and publish it as a gitbook.

This could be done along with #20 as the base for explaining the concept of using tide and its internals

[2018-11-27 05:42] DeltaManiac commented on #20
Well there is already a [Rust](https://github.com/gothinkster/rust-realworld-example-app) implementation with Hyper+Diesel
@colinbankier this could help us out too :)

[2018-11-27 08:52] tirr-c commented on #5
I've tried to use typemap, but cloneable one yields forward compatibility warning regarding object safety.

[code]

[2018-11-27 09:51] ibaryshnikov opened #78 "Use the same port in the examples"
Some examples contain
[code]
And others are
[code]
Can we have the same port for all of the examples?
Also, is it a good idea to print the url? Like

**Server is listening on http://127.0.0.1:8000**

to be able to navigate to the browser by click

[2018-11-27 11:41] aturon commented on #78
Closed by #79

[2018-11-27 11:41] #78 closed

[2018-11-27 13:45] colinbankier commented on #20
@DeltaManiac - yep, I saw a couple of rust attempts - [one with Rocket](https://github.com/navinkumarr/rust-realworld-example-app/blob/master/Cargo.toml) too. I'm using them as hints to get a first step up and running :).

[2018-11-27 13:56] aturon opened #82 "Internal redirects"
Since middleware and endpoints run strictly after routing (by design), we may want to provide an ergonomic way of *internally* redirecting to other routes.

Some considerations:

- How best to express this? E.g. explicitly re-enter the router? Return a revised *request*? Something else?

-  How should middleware be applied when handling the redirected request?

[2018-11-27 13:56] aturon commented on #82
cc @wycats

[2018-11-27 14:06] aturon opened #83 "Work out a testing/mocking story"
At the moment, it's not clear how to test a Tide application. Ideally we can build on best practices in the Rust ecosystem, including the stories worked out in other frameworks like Rocket.

[2018-11-27 14:07] aturon commented on #77
Strong :+1: on mdbook! Maybe we can use this issue to brainstorm a rough table of contents?

[2018-11-27 14:09] aturon commented on #75
Related: do we want to do something more sophisticated with the current "app" concept, like mountable sub-apps and/or the ability to `map` functions over the application state as you descend the router?

[2018-11-27 14:37] aturon opened #84 "Ship cookie parsing as a computed value"
As a follow up to https://github.com/rust-net-web/tide/pull/80, the [cookie example](https://github.com/rust-net-web/tide/blob/master/examples/computed_values.rs#L8-L27) should be polished up and moved into Tide proper, so that applications can use it.

[2018-11-27 14:47] aturon opened #85 "Consider renaming `Resource`"
Now that `Resource` can be used to nest subrouters and not just attach endpoints, it doesn't exactly represent a resource. Perhaps `Route` would be better?

[2018-11-27 14:48] aturon opened #86 "Consider renaming `Resource`"
Now that `Resource` gives you access to a nested router, it doesn't really represent a single resource any more. Perhaps `Route` would be a better name?

[2018-11-27 14:52] aturon opened #87 "Consider panicking when `nest` would overwrite resources"
Right now, calling `nest` on a route that already has resources causes those resources to be silently dropped, which seems problematic. We should either figure out a reasonable way to "merge" with existing resources (I'm skeptical this would work out), or just panic in such a case.

Panicking in app construction is generally OK since even trivial testing will reveal the problem.

[2018-11-27 14:52] colinbankier commented on #20
I've made a super rough start https://github.com/colinbankier/realworld-tide
It ain't pretty and it doesn't do much yet, just a skeleton to hook up diesel with tide to get going. TBC.

[2018-11-27 15:22] bIgBV commented on #77
I'll echo that a mdbook would be great. One thing to keep in mind is the style of the book. Will it be something like The Rust book which mostly talks about the different concepts, or something like Django's documentation which uses an example/walkthrough to introduce different concepts. Once the example is finished you have a working application and then links to further documentation.

[2018-11-27 15:53] aturon commented on #77
Great question @bIgBV!

Personally, I tend to enjoy Guides that do a mix of both -- like, having (one of) the first chapters be a quick walk-through that builds something useful, and then the remaining chapters circle back around and cover each concept in more detail (ideally also using examples, but usually smaller ones).

[2018-11-27 16:00] bIgBV commented on #5
How about we just have a config struct with a few fields to start with and wrap it in an Arc to be shared across? My reasoning is that for the most part configuration is for configuring the framework, so the number of knobs that a user can turn are limited.

So we can have default values set up which are overridden with the parsed values from a config file/environment which can be further overridd

[2018-11-27 16:04] bIgBV commented on #77
That's definitely my favorite style of a book as well. In order to that, the first example should be fairly self contained in the concepts it touches on. I think a basic JSON API with a database backend with authentication would be a great way to introduce most of the concepts in Tide.

Speaking of which, how does one approach authentication in Tide? I know it'll be through middleware, but right n

[2018-11-27 16:13] aturon commented on #77
Haven't thought authentication through yet! Open an issue?

[2018-11-27 16:31] bIgBV commented on #77
@aturon sure thing. I'll also probably do a survey of existing frameworks and add it to the issue text so we have a starting point.

[2018-11-27 16:31] bIgBV commented on #77
@aturon sure thing. I'll also probably do a survey of existing frameworks and add it to the issue text so we have a starting point.

[2018-11-27 18:00] nicoburns commented on #20
@colinbankier It seems that this example is using synchronous database requests. I think this will need to be changed (either to an async database client, or to use a thread pool). Otherwise it completely defeats the point of using futures and tokio for async request handling.

Sorry my comment can't be more constructive, but this is exactly the thing I've struggled to implement in Rust web apps,

[2018-11-27 19:56] tzilist commented on #45
@aturon if this is the case, should we just write a test case to ensure that `HEAD` requests always strip the body? We can just rely on hyper to handle this and the test case to make sure it doesn't break.

[2018-11-27 20:14] aturon commented on #45
@tzilist Yep, that seems reasonable for now!  I'd also suggest adding a comment to make clear that's  what we're doing.

[2018-11-27 23:35] skade commented on #15
I have a sketch here: https://github.com/skade/tide/blob/testable-app/src/app.rs#L216-L251. I'll see that I can turn it into a full pull request tomorrow. (It currently doesn't report test failures correctly)

[2018-11-28 00:16] colinbankier commented on #20
Thanks @nicoburns - never fear, handling this better is in the plan :) It's part of the "it ain't pretty yet" qualification. I don't expect it to be a particularly useful example yet...but wanted to share the starting point as a placeholder.

My current plan is to use a thread pool, as I don't believe diesel supports actual async clients yet. If this is not true, please let me know.

[2018-11-28 00:25] abonander opened #89 "Rewrite Multipart support using `multipart-async`"
@liufuyang did an excellent job implementing the current multipart support and I'm flattered he chose my crate, but I'm worried about the scalability of collecting the entire request body to `Vec<u8>`, as you typically don't want to keep whole files in memory.

I have [`multipart-async`](https://github.com/abonander/multipart-async) which is designed to parse a multipart body from an async stream

[2018-11-28 04:57] DeltaManiac commented on #77
We could probably start off the first chapter with the [messages](https://github.com/rust-net-web/tide/blob/master/examples/messages.rs) example.
It'd be a good way to give a quick intro on how to build a CRUD app that runs in-memory and can run with just rust.

Then as we progress through the book we could add subsequent chapters on how to read configs/env for getting the DB Connection params, us

[2018-11-28 08:05] skade commented on #83
We kind of already have those best practices: `http::Request` and `http::Response` can be easily produced without a web server at hand and the application called with that. We can make assertions on those.

What's missing is a testing framework based on `http` that eases the process and maybe provides custom matchers. This one doesn't have to be Tide-specific.

I'd be interested in working on that

[2018-11-28 08:17] bIgBV commented on #5
@tirr-c I experimented with the `Extensions` from the HTTP crate and it compiled without any issues. As an experiment I added it to the `App` struct and created a dummy config to be stored in it, and it worked.

I'm not sure how this typemap will be shared internally within Tide though.

[2018-11-28 09:55] liufuyang commented on #89
Thank you @abonander.  I would like to provide some help refactoring it when it is ready (Especially if you or someone can mentoring me 😄)

[2018-11-28 12:14] RoGryza commented on #73
I'd like to take this to start contributing to tide. Seems pretty simple:

[code]

Anything I'm missing?

[2018-11-28 12:44] #10 closed

[2018-11-28 16:20] spacejam opened #95 "Food for thought: automatic testing based on specified routing information"
Routing systems often allow users to specify various parameters, paths, etc... that will cause a request to be routed to a given handler. Using this information, tests can be synthesized without additional user input:

* validation tests that use the specification as a basis for mutation (fuzzing)
* generation of sequences of calls to different endpoints using parameters that match the specificati

[2018-11-29 07:08] kud1ing opened #96 "Consider renaming `App::at()` to `App::path()`"
I propose to rename `App::at()` to `App::path()`.

`at()` is short and thus easy to type, but it bears not much context.

I think

    app.path("/").get(index_endpoint)

would be slightly more descriptive/readable than

    app.at("/").get(index_endpoint)

[2018-11-30 05:48] bIgBV commented on #5
I experimented with the `Extensions` type, but the issue I am facing is safely sharing it globally. I used lazy_static to store an instance of `Extensions` behind a `RwLock`, but the borrow checker is not happy about accessing the data in it.

[2018-11-30 20:28] bIgBV opened #99 "Authentication in Tide"
Currently we don't have a story for authentication in Tide. I hoped that this issue would help start some discussion around the topic. A few questions that come to mind:

* How much support do we want to provide? Something as involved as Django and Rails? Or something more lightweight like Flask?
* It most likely will be a `Middleware`, but is this the best approach?
* How will it hook into config

[2018-11-30 20:33] bIgBV commented on #50
We should also consider the usecase of handling async tasks. Not in the futures sense, but in a business logic sense. Things like report generation jobs, notification jobs, or some other application specific task performed at a later time.

Plus, another thing to consider is how to handle synchronous tasks as a part of the business logic? Things like database accesses right now are synchronous in

[2018-12-02 04:20] brycefisher opened #101 "Generating Swagger from Tide"
I'm a big fan of whats happening in Tide and the overall approach. Many web server frameworks in other languages allow for extensions that produce swagger output. The swagger output enables use of swagger tools which can codegen interactive documentation and clients in many popular programming languages.

While Tide is in an active design phase, I'm curious about the possibility of generating swag

[2018-12-02 10:02] tzilist commented on #101
I’d LOVE to have this. I think once we have a solid foundation for the framework we can begin working on quality of life things like swagger integration, codegen, etc. Easy swagger integration is on a long list of priorities for myself though. 😃

[2018-12-02 12:15] skade commented on #15
I've been playing around with this a little more and would love to take that topic on.

[2018-12-03 11:06] KodrAus commented on #8
Just to link things up, #98 proposes adding an elapsed field to the root logger. It's something we could do inline, but I feel like that's a good use-case we could start building contextual logging around.

[2018-12-03 20:05] bIgBV commented on #8
@KodrAus could you expand on that? What exactly does contextual logging mean here?

[2018-12-03 20:07] bIgBV commented on #101
@tzilist I think it'd be a good idea to start collecting feature requests somewhere, right? That way once the 0.1 release is finalized, we can start looking at which features to pick up next. Plus, it would also give the community a good way to catch up on what's being worked on.

@aturon any thoughts?

[2018-12-03 22:05] aturon commented on #101
@bIgBV I'm *definitely* in favor of keeping longer-term feature requests around. We can figure out a good labeling strategy to make clear what's going on.

[2018-12-03 23:11] bIgBV commented on #101
@aturon We could probably use the project board as it ties in directly with issues and provides a very high level overview of what's going on in the project. Labels are a good idea, but the issue I find with that is that you can't get a high level overview of what's going on at a glance.

But, we will have to ask ourselves what do we want to communicate with the community.

[2018-12-04 03:35] KodrAus commented on #8
Ah, sorry. I should've added some more context to my comment about contextual logging :)

For gathering timings, maybe it could look something like:

[code]

Where `logger.time` automatically logs how long the inner async block took to complete when it finishes:

[code]

For other pieces of context, like a correlation id, or that `"do some work"` tag in the above example, I imagine getting a hold

[2018-12-04 05:12] bIgBV commented on #8
@KodrAus love the pun!

This is an interesting approach, but I have a couple of questions regarding this design:

### Is adding individual methods like `time` a good idea?

I ask this because I can't think of a lot of other contextual data which can be logged (caused my ignorance of the subject, not authority 😅 ). So I feel like a more generic approach which works with different kinds of data will

[2018-12-04 05:14] bIgBV commented on #63
Currently, middleware don't have any access to the `Router`, so this approach isn't possible. I think an approach that would work would be through configuration, as you would set up the static file serving up during server setup.

[2018-12-04 05:47] KodrAus commented on #8
That's a fair question. Thinking about it more, `time` is a bit of a special case and probably not actually a good example of contextual logging at all. I probably should've treated them separately to begin with. The idea of `time` is to give users an easy way to log the entry and exit for a block of code along with how long it took. It's something I at least do regularly in web apps I build, usua

[2018-12-04 16:13] aturon commented on #73
@RoGryza seems like a good starting point! Feel free to make a PR, and then we can build on that over time (with introspection etc)

[2018-12-07 23:41] iyuq opened #106 "Consider renaming "App's pub fn `middleware`" to "App's pub fn `use`""
Since `middleware` is a noun and `use` is verb, I think `use` is more properly for add a middleware.

The writing of `app.middleware(middleware)` is a little bit weird, but `app.use(middleware)` looks a little bit natural.

In fact, there are many framework use `use` to add a middleware, eg:
- [koa](https://github.com/koajs/koa/blob/master/lib/application.js#L105)
- [gin](https://github.com/gin-go

[2018-12-07 23:59] iyuq opened #107 "Logging middleware should not be always-applied and better move to separate crate"
Logging to console significantly affect the QPS of the framework. With the logging middleware, the QPS of the simple `hello-world` example drops from
[code]
to
[code]
I think we should give user the choice to choose whether or not use logging middleware.
To solve this, I think we can offer the choice by add a new constructor for app.
like
[code]

Furthermore, I think it's better to separate the Lo

[2018-12-08 20:41] bIgBV commented on #107
The current state of logging is just a starting point to integrate logging into tide, there's a lot of discussion regarding this over at #8  and nothing is concrete yet. I like the idea of separating logging out into it's own crate in the workspace though. Please add your thoughts over at the other discussion as well :)

[2018-12-09 06:55] pickfire commented on #21
Would https://github.com/rust-net-web/tide/blob/master/examples/hello.rs be a nice example? If yes, then we could just show it with some commands below to get people started.
[code]
Is that good for a pull request as of a simple way to get beginners started? Or maybe it might be good to mention **HERE BE DRAGONS!**

[2018-12-11 13:52] tirr-c commented on #5
I have an idea that doesn't require global states or typemaps, but is somewhat less flexible -- using `serde_toml::Value` (or `serde_json::Value`, or whatever) under the hood.

Configuration can be set and retrieved with typed configuration items (like the sample code above.) Those items should implement `Serialize` and `Deserialize`. Each item has its own unique name in `'static str` and it will

[2018-12-11 21:30] bIgBV commented on #5
@aturon @tirr-c I'm a little curious about where this configuration typemap will live. I ask because I want to know how an endpoint implementation can access some data in this configuration. Similarly, how will any part of Tide access it?

[2018-12-11 21:46] bIgBV commented on #5
So I was thinking about how to share configuration with middleware and was considering something along the lines of this:

The `handle` method of the `Middleware` trait can be passed a handle to this context as a parameter.

[code]

Definitely a rough design, but what do you guys think?

[2018-12-11 23:14] jimmycuadra commented on #84
Is there a place that gives an explanation of "computed value?" I've seen this term used a few times in the Tide blog posts but I don't get what it means.

[2018-12-12 04:40] jimmycuadra commented on #84
Nevermind, I found the answer in the API docs:

[2018-12-12 06:05] reeze opened #108 "Reduce the amount of boilerplate needed to declare partials in the routes"
When playing with Tide, I found that NamedPath is not friendly to use compare to Rocket.

It seems tedious when working with parameters if we don't using macro to make API easier to reason about.

Rocket has a convention the named segment's name are the handler's parameter name

[code]

I know there is an `id` and is an int. It is simple.

https://github.com/rust-net-web/tide/pull/32/files

Most o

[2018-12-12 06:31] tirr-c commented on #5
@bIgBV I think configuration can be wrapped in `RequestContext`. The context struct can provide some methods to retrieve configuration items then.

@aturon I've experimented with your trait design (with some tweaks) and it's promising! However I'm afraid we can't use existing `TypeMap` directly with the custom `Any` trait as it required implementing internal traits of `typemap`. I managed to write

[2018-12-12 18:46] bIgBV commented on #5
@tirr-c I was considering `RequestContext` as well, but isn't it constructed for every request? Will that mean we will pass the config from the `App`/`Server` down to the `RequestContext`?

[2018-12-17 03:14] SunDoge commented on #106
`use` is a keyword. It cannot be function name.

[2018-12-23 00:17] alexreg opened #112 "Relation to other modular web frameworks in development?"
I see other active ongoing efforts like [warp](https://github.com/seanmonstar/warp) and [tower-web](https://github.com/carllerche/tower-web), which appear to take a similar philosophy to web frameworks. Does tide aim to be different in some fundamental way? I was mainly wondering why work isn't focusing on one of them.

[2018-12-29 04:37] DCjanus commented on #63
Maybe this feature could be implemented via `Endpoint`.

[code]

I'd like to handle this.

[2019-01-09 13:04] yoshuawuyts commented on #5
@tirr-c PR looks really good!

[2019-01-09 13:33] yoshuawuyts commented on #8
I made an example of a `Drop` based timer ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=875ffe95e7798d3c2e09710ccb807118)). I'm not sure what the right API is to settle on, but perhaps this might be a useful alternative to a closure-based API.

__Usage__
[code]
__Output__
[code]

[2019-01-09 14:03] bIgBV commented on #8
Isn't this similar to what [tokio-trace](https://github.com/tokio-rs/tokio/issues/561) does?

[2019-01-09 14:14] yoshuawuyts commented on #8
@bIgBV oh yeah, I guess it's similar! I looks like it still uses [futures 0.1](https://github.com/tokio-rs/tokio/pull/827/files#diff-2bd7d04ae6ea18bf8acbc4c736385a25R20) tho, which is unfortunate. Perhaps it could be ported to a standalone crate and upgrade the futures version for use in Tide?

I'm not sure how much work that would be; we should probably figure out if it's indeed what we want befo

[2019-01-09 16:12] yoshuawuyts commented on #96
It seems most of the discussion around this is currently happening on the PR #103.

[2019-01-09 16:13] tirr-c commented on #18
I see this is resolved now, is it okay to close?

[2019-01-09 16:15] yoshuawuyts commented on #95
This seems to have at least partial overlap with #101. Both will require access to an overview of which resources and values are available after the app has been constructed.

@spacejam I'd love for something like this to exist. Would you want to work on a prototype perhaps?

[2019-01-09 16:19] yoshuawuyts commented on #41
@tirr-c with https://github.com/rust-net-web/tide/pull/58 merged, is there any status update on this issue? Do you have an idea of what's left to do?

[2019-01-09 17:13] tirr-c commented on #41
@yoshuawuyts I haven't changed anything inside `head`, but I think it's okay to merge `head` with `request`. Everything inside `head` module is about request data.

[2019-01-09 17:17] bIgBV commented on #8
@yoshuawuyts I feel that once #109 lands, we can use the store to store(pun unintended) the `RootLogger` instance. This would mean we can provide simple log macros, and provide support to capture logs from the `log` crate. That way, users can begin adding logs to their applications, and people working on tide can also add log statements.

That gives us a starting point to go from. Once `tokio-trac

[2019-01-09 17:17] hseeberger commented on #18
Thanks. Yes, for me that's fine.

[2019-01-10 00:53] KodrAus commented on #8
I think it is worth us spending some time figuring out exactly what kind of logging story we want to provide in `tide`, independent of the implementation details. That way we know what an MVP actually looks like.

If the goal is to offer some bridging API that an end-user can use to capture logs produced by `tide` internally, then questions like contextual logging and supporting convenient methods

[2019-01-10 09:22] mmrath commented on #99
This is something I dislike. If this is required, it can be supported with a extractor but auth is something a Middleware can handle very well. For rocket I have raised an issue to support middleware like functionality specifically for authentication(https://github.com/SergioBenitez/Rocket/issues/749).

[2019-01-10 14:40] #18 closed

[2019-01-10 15:24] yoshuawuyts commented on #99
Perhaps a useful challenge would be for people to try and develop a password/email cookie authentication flow, in separate repos.

I think having some simple, tangible examples of what authentication flows can look like with Tide might help inform the design space, and allow us direct the discussions a bit more.

[2019-01-10 15:42] yoshuawuyts commented on #112
@alexreg hi, thanks for asking!

There's probably a lot to be said about the differences, but in the end probably the most important motivating factor in Tide is that we're interested in exploring the design space of what an async/await-first frameworks can look like in Rust.

The emphasis is very much on exploring here. We don't believe don't believe the design space of what's possible with async

[2019-01-10 15:50] yoshuawuyts commented on #108
@reeze thanks for opening this issue! -- I don't have any suggestions on how to improve, but I agree the example you posted seems rather verbose, and it'd be nice if we could reduce the amount of boilerplate needed.

Perhaps @tirr-c or @aturon might have any ideas?

[2019-01-10 16:07] tirr-c commented on #108
I think it's very likely that all named segments (or, wildcards) are used in the endpoint. So it would be nice if we provide a way to extract all of those *at once*, and access each of them via method call or indexing.

[code]

We need to think how to propagate parse errors though. Maybe returning `Result` would be sufficient.

[2019-01-10 16:28] yoshuawuyts commented on #60
I'd like to propose we start doing regular releases soon. I think it's beneficial if people have a convenient way to test out tide, creating a tighter feedback cycle. For example this could help explore the design space of #99.

People in this thread seem to attach significance to the 0.1 label, so perhaps we should start with 0.0.1? Ideally this could be done in the next few days, mostly waiting

[2019-01-10 17:02] tirr-c commented on #61
This is resolved by #64! Closing this issue.

[2019-01-10 17:02] #61 closed

[2019-01-10 23:04] alexreg commented on #112
@yoshuawuyts Thanks a lot for the clarification. I like the fact this is sort of a research project, and a practical one... when you say "async", do you specifically mean the async/await functionality built into Rust now, or the more general concept? Because I believe warp and tower-web also have async support, though perhaps they are not "async first" (I'm really not sure).

[2019-01-11 00:44] luover commented on #112
I think tide is very cool with  async/await,  when you say **tower-web** and **warp** ,  do you also think that actix-web is very well support async, why they were created.

[2019-01-11 01:02] yoshuawuyts commented on #112
Both! Async/await opens up new possibilities for API design by lifting restrictions the borrow checker imposed on sharing values beyond yield boundaries.

But I also believe we haven't seen the last of general async designs. If we look at other languages and abstractions, for example we haven't seen much in terms of reactive or config-first frameworks yet.

Or looking at new developments it'd be i

[2019-01-11 01:06] yoshuawuyts commented on #112
@luover personally I'm very happy all the frameworks you mentioned exist! I feel they all explore a unique design space, and bring novel ideas into the Rust ecosystem.

They all support asynchronous operations, but have varying levels of async/await support. It's likely this will change once async/await becomes stable later this year.

[2019-01-11 04:59] PeteJodo commented on #108
That would mean a possible situation like this could occur...

[code]

...and since no errors get thrown, this wouldn't get surfaced immediately. Maybe `Segments` (which I think a name like `PathSegments` would be more appropriate) could somehow force you to exhaust all the named segments for the route it is handling otherwise it would error out but I'm not sure what that would look like.

[2019-01-11 13:27] yoshuawuyts opened #115 "Add "Access-Control-Allow-Methods" to the OPTIONS HTTP method"
## Feature Request

https://github.com/rust-net-web/tide/pull/104 introduces the `OPTIONS` HTTP method for CORS support. In order to get it to work, the `Access-Control-Allow-Methods` header has been omitted for now.

## Detailed Description
We should reintroduce `Access-Control-Allow-Methods` through its own CORS middleware.

## Context
This is a nice addition to our CORS capabilities.

## Possib

[2019-01-11 15:20] davidbarsky commented on #60
@yoshuawuyts I said this on Discord, but I'd be in favor of alpha releases starting with 0.0.1 with a “0.1” release being marked as a “pretty solid beta”.

[2019-01-11 19:46] aturon commented on #60
I personally would also be OK with going straight for 0.1 and then doing additional major releases (0.2 etc) as we go. Either way. I think what's important at the end of the day is just being clear to the broader community about what the releases represent and what to expect.

[2019-01-12 00:22] markbahnman commented on #99
I've been toying around with tide for a basic REST api and I think most of the pieces for a basic auth flow are already here. Use middleware to authenticate the request and stuff the session data into the request extension, use a Computed extractor in a handler to make that data accessible to your function.

[2019-01-12 09:58] tirr-c commented on #60
+1 to 0.0.1. Tide will be used more and we'll get more feedback if we release early. Also, version 0.0.1 would indicate that we'll move fast and break compatibility more often.

[2019-01-12 19:13] PeteJodo commented on #99
I was thinking something along the same lines but extract the session handling into a separate `AuthenticationStrategy` trait which would handle the session stuff or another could use JWT or OAuth. Taking it further, there could be another trait, `AuthenticationHandler`, that the user implements which would be the actual code that verifies against their specific database or whatever.

So you have

[2019-01-12 19:32] #96 closed

[2019-01-14 12:32] yoshuawuyts commented on #60
Going with a 0.0.1 release seems to be the least controversial option, so that might be the best to start with for now.

Personally I'm a big fan of starting every semver cycle at 1.0.0 because it allows version numbers to be meaningful (breaking|feature|bugfix). I think after we start doing regular releases it would be good to start thinking about the core feature set that a 1.0.0 release should

[2019-01-14 16:46] bIgBV commented on #60
@yoshuawuyts +1 to starting semver from 1.0.0

So what do you think is missing right now from the 0.0.1 release? Do we want to discuss that here or in a separate issue?

[2019-01-15 01:36] PeteJodo opened #116 "Examples (or design?) around error handling"
There are no examples about error handling, nor does it look like there has been any discussion around error handling in general. Created this issue for fleshing this out.

I tried writing a handler with the return type `Result<Json<User>, MyError>` but I was running into compiler errors. I don't have the time right now to post the example but will when I get the time

[2019-01-15 04:00] PeteJodo commented on #116
so I actually got it to work, it was a simple mistake of missing a `?`. That's what I get for trying to get it working so early in the morning. Anyway I made a super basic example:

[code]

Some issues with this currently is having to build my own response for my error since `tide::body::Json` is only for successful responses. This means accessing `http` itself. Speaking of which, a panic occurs a

[2019-01-15 04:07] tirr-c commented on #116
It would be nice if we had a wrapper that takes `IntoResponse` type and modify status code, add extra headers etc.

[2019-01-16 06:10] PeteJodo commented on #116
I pulled in the most recent changes and have been messing around with it to see what kind of example I could come up with. I created [this gist](https://gist.github.com/PeteJodo/89e13488da70df4007f2949ba1675d4f) of where I'm currently at. I have two types `HandlerError` and `ErrorResponse`. `HandlerError` is the individual errors and `ErrorResponse` is the normalized struct that responds as a json

[2019-01-16 23:33] yoshuawuyts commented on #60
@bIgBV I was thinking we just start releasing under 0.0.x. I'm thinking more of doing it as a way to make installation easier, not make

[2019-01-16 23:36] yoshuawuyts opened #120 "Publish path-table as its own crate"
This is currently blocking the release of 0.0.1 as per #60.

[2019-01-17 11:42] #5 closed

[2019-01-18 07:04] tirr-c commented on #108
@PeteJodo I don't think we have to error on non-exhaustive use of segments. As of now it's totally okay to partially use named segments. However it would be great if we get a log message when some segments are not used!

[2019-01-18 18:32] bIgBV opened #123 "Using config-rs for layered configuration"
Now that #109 has landed, I am looking to extend it so that there are other possible ways of setting up the execution environment for a Tide application. When it comes to application deployments, the [12-factor app](https://12factor.net/) idea is standard.

The [config-rs](https://docs.rs/config/0.9.2/config/) crate provides good support for layering configuration from different sources. It also s

[2019-01-18 19:40] aturon commented on #60
Huzzah!

I think it'd be great to plan to accompany releases with a blog post, like the updates in [this post](https://rust-lang-nursery.github.io/wg-net/2018/11/27/tide-middleware-evolution.html).

[2019-01-20 03:50] csharad commented on #108
Writing `get` for the named segments would be tedious and routes would not be able to move to the next match if failed.

What about the actix way of getting the args?
[code]

[2019-01-20 21:31] HeroicKatora opened #127 "The links to `Code of Conduct` are broken in `Contributing.md`"
The links in [Contributing.md](https://github.com/rust-net-web/tide/blob/9da9a1ed0ad00c762168c909a9400b25197e78ca/.github/CONTRIBUTING.md) do not render the interactive links to the code of conduct. Instead, the document contains the links in `[]` blocks that don't render on github. These should be changed to `[Code of Conduct](./CODE_OF_CONDUCT.md)`

[2019-01-21 06:34] yoshuawuyts commented on #60
@aturon ah yes, excellent point! I'm not completely comfortable yet writing posts, but there's no better time to start I guess :sparkles:

[2019-01-21 06:47] yoshuawuyts commented on #123
@bIgBV doesn't the 12 factor app standard disencourage the use of config files? From the docs `config-rs` seems to take in configuration from a lot of places, only one of which is the environment.

In my Rust applications I've been using `structopt` to define both flags and environment variables. For example: https://github.com/rust-clique/clap-port-flag/blob/master/src/lib.rs#L38.

I think it mig

[2019-01-21 07:51] yoshuawuyts commented on #123
@PeteJodo The way I think about this relationship is:
- structopt gets data from the CLI, either from flags or env vars
- in the main fn this data gets passed into Tide's app + middleware constructors. This happens only once, at boot
- every request now is passed through middleware, and each `Store` (formerly `Config`) is populated with the corresponding data

---

Structopt supports reusing flags

[2019-01-21 08:01] yoshuawuyts commented on #127
@HeroicKatora would you be interested in writing a patch for this?

[2019-01-21 08:11] killercup commented on #60
FYI, I've been meaning to write a post on the extractor pattern, which I
believe tide uses as well.

On Mon, 21 Jan 2019, 07:34 Yoshua Wuyts, <notifications@github.com> wrote:

[2019-01-21 18:03] bIgBV commented on #123
@yoshuawuyts you're right, it does discourage config files, I figured it wouldn't be too difficult to add support for that on top of CLI flags and env vars. Rocket uses a config file and I thought it would be useful to have a similar mechanism.

On the other hand, I did not know about structopt and I think it would be a really handy way of managing configuration.

I really like this approach, and

[2019-01-22 13:50] HeroicKatora commented on #127
@yoshuawuyts Ping, see the pull request that fixes this.

[2019-01-22 18:12] #127 closed

[2019-01-23 12:15] yoshuawuyts opened #130 "basic-cookies fails to build"
https://github.com/rust-net-web/tide/pull/124#event-2087748554 is currently failing because basic-cookies fails to compile. A PR has been opened https://github.com/drjokepu/basic-cookies/pull/1, but I think we should unblock ourselves by temporarily moving over to the fork while we await for it to be resolved.

Alternatively we could rewrite the example entirely to rely on a different crate, but I

[2019-01-31 12:05] #130 closed

[2019-01-31 14:57] yoshuawuyts opened #134 "Pin nightly version foir CI"
It's hard to consistently develop against tide, as Clippy on nightly now more often seems to fail than to pass. I think if we could pin the nightly version (at least for now), we could make developing Tide itself a bit more straight forward.

[2019-01-31 22:00] aturon commented on #134
Agreed! I... think there may be some way to do this with rustup. cc @alexcrichton

[2019-02-01 13:36] #134 closed

[2019-02-01 13:38] yoshuawuyts commented on #134
@aturon I hard-coded a pinned version in `.travis.yml` which effectively solves the problem. I'd be curious to know if there might be any, err, more polished solutions.

[2019-02-01 15:13] alexcrichton commented on #134
To get a guaranteed version of clippy the recommendation is "either beta, stable, or a pinned nightly", and unfortunately we don't have much tooling beyond that :(

[2019-02-07 13:13] mgattozzi opened #138 "Handling Errors in Route Handlers"
## Feature Request
It would be great if we could handle errors, such as being unable to get a database connection, with a route of return type `Result<Response, MyErrorType>`.

## Detailed Description

Lot's of things need I/O in order to do things, such as database connections! The common pattern in Rust is to use ? to pass the error up the stack of function calls and then handle it at a single p

[2019-02-21 22:43] aturon commented on #6
This is no longer the case.

[2019-02-21 22:43] #6 closed

[2019-02-21 22:46] aturon commented on #53
The refactor in https://github.com/rust-net-web/tide/pull/139 took a major step in this direction, but we'll ultimately want to move out the shim code into its own crate and make Tide truly modular in this respect.

[2019-02-21 22:48] aturon commented on #54
This was completed in https://github.com/rust-net-web/tide/pull/58

[2019-02-21 22:48] #54 closed

[2019-02-22 08:35] luover commented on #53
There is also [actix-http](https://github.com/actix/actix-http), It support HTTP1/2 Server/Client and Websocket Server/Client.

[2019-02-22 16:07] yoshuawuyts commented on #3
Note from triage: this feature might not even be needed if we end up going with a more layered design in Tide.

[2019-02-22 16:27] yoshuawuyts commented on #8
During triage we've agreed on the following:

1. we should prioritize logging over tracing, as it's easier to implement.
2. we should create a separate logging crate for tide to experiment with logging.
3. the crate should re-export the log macros so no other peer dependencies are needed.
4. the crate should log information about requests.
5. when structured logging is implemented in `log` (https:

[2019-02-22 17:03] tirr-c commented on #12
Maybe we can use regex to approach this. We can convert path expression into regex mechanically. Might contain some errors, but here's the rules:
* Prepend `^` and append `$`
* `{}` &rarr; `([^/]+)`
* `{}*` &rarr; `(.*)`
* `{foo}` &rarr; `(?P<foo>[^/]+)`
* `{foo}*` &rarr; `(?P<foo>.*)`

This way, `/foo/{}/baz` becomes `^/foo/([^/]+)/baz$` and `/foo/new/bar` becomes `^/foo/new/bar$`. Testing both r

[2019-02-22 17:10] yoshuawuyts commented on #12
A scenario I'd like us to consider is the way GitHub does routing for users / organizations. Essentially I'd like us to be able to support a similar URL structure.

|Route | Example
|----|---
| `/:user/:repo` | `/yoshuawuyts/blog`
| `/:user/:repo/settings` | `/yoshuawuyts/blog/settings`
| `/:user/:repo/tree/:branch` | `/yoshuawuyts/blog/tree/master`
| `/:user/:repo/tree/:branch` | `/yoshuawuyts/bl

[2019-02-22 17:12] bIgBV commented on #24
These are just some thoughts mentioned during the issue triage:

* The primary issue is providing a way to leverage the compiler to generate URLs, instead of a stringly typed scheme
* One such approach could be to use the endpoint itself as a key to generate the URL, something along the lines of `router.get_url(&endpoint_fn)`
* This would piggyback on the way the modules are set up in the user's a

[2019-02-22 17:19] bIgBV commented on #12
But ins't the routing structure specific to the way the app is structured? I mean you could have a RESTful API or you could have something arbitrary right?

[2019-02-22 17:23] tirr-c commented on #15
@gruberb I've written a simple test backend on PR #140. Basically the backend consumes a `HttpService` and provide some interface to simulate requests synchronously. It works as a test client for our app. Once we run `TestBackend::simulate`, we can make assertions on the returned response.

Once the PR lands, we can add more integration tests to test whether `App` works as expected. Moving the tes

[2019-02-22 17:25] Nemo157 commented on #12
I can highly recommend [`route-recognizer`](https://crates.io/crates/route-recognizer) or a similar algorithm, e.g. to draw an almost identical example to what @yoshuawuyts just noted http://git.nemo157.com/grarr/blob/master/src/handler/blob.rs is being routed via the matcher `/*repo/blob/:ref/*path`. Having mid-route globs like this with a strongly defined precedence is very useful for some appli

[2019-02-22 17:37] tirr-c commented on #12
I didn't know about `route-recognizer`! Originally, I thought about a regex-like algorithm for route matching, but discarded that idea as it'd require implementing state machines that is not so easy. Quickly looked through the doc and I feel this is definitely the better approach.

[2019-02-22 18:40] gruberb commented on #15
@tirr-c Thanks, I will have a look on your PR. So I will work on getting the test backend into a module/crate and then run tests against the app. Will get back to you once I started. I surely will need some guidance here and there! Thanks for assisting!

[2019-02-25 17:58] tomhoule commented on #83
I am currently working on a session middleware implementation, and it would be helpful to be able to test that way (given a `tide::App`, an async function from `http::Request` to `http::Response`). With `http_service`, as far as I can see, we could have something very close by making `App::into_server` and `Server` public. Would that be desirable? (I can open a PR if we want this).

[2019-02-26 05:54] tirr-c commented on #83
cc #15, `App`-level testing is tracked there.

[2019-02-26 13:09] tirr-c opened #141 "Consider using route_recognizer instead of path-table"
## Detailed Description
For now `Router` is using `path-table` for its route matching. Consider changing the algorithm by replacing it with [`route_recognizer`].

The published version of `route_recognizer` is unmaintained for about 2 years, and seems to have reversed precedence of path segment matching (conduit-rust/route-recognizer.rs#21). Maybe we can fork the repository and apply some patches.

[2019-02-26 17:50] krircc commented on #141
There is [actix_router](https://github.com/actix/actix-net/tree/master/router), but it is Independent，and dont dependent Actix* . It is General

[2019-02-26 18:04] aturon commented on #141
Note: this is the algorithm ultimately used by crates.io:

- https://github.com/conduit-rust/conduit-router
- https://github.com/rust-lang/crates.io/blob/master/Cargo.toml#L76

so it's "maintained", just hasn't needed a lot of updating. Definitely a worthy candidate to look at, and I  expect the current owners would be  interested in moving it into the rust-net-web org.

[2019-02-27 03:13] bIgBV commented on #9
I wen through the following frameworks when understanding how they track state for a request during its lifecycle.

* [Rocket](https://rocket.rs)
* [Actix-web](https://actix-web.rx)
* [Tower-web](https://github.com/carllerche/tower-web)

I'm typing out what I learned about the different implementations with a recommendation of how to proceed with the same in Tide at the end.

## Rocket
Rocket only

[2019-02-28 04:02] bIgBV commented on #141
One thing to consider for the router API is a way of providing reverse lookups #24. I'll go into more detail about the small survey I did of current implementation of such an API in django and flask, but both of them leverage the router to provide a reverse lookups of endpoints to paths for building URLs.

[2019-02-28 12:38] mozmark opened #143 "CSRF middleware"
## Feature Request

## Detailed Description
I'd like to see tide have a feature for ensuring that requests are not forged from other origins. There are several mechanisms by which this can be achieved (and some of these are pretty robust).

## Context
Security is hard. Sensible defaults and robust tooling mean that users can at least have a chance. There are several things that Tide could add to h

[2019-02-28 20:41] tomhoule commented on #9
I just published a rough prototype of what it could look like: https://github.com/tomhoule/tide-cookie-session - it's closest to the actix_web design, with pluggable session storage. I would love if some of you had feedback on it :)

[2019-02-28 20:44] tomhoule commented on #99
I already mentioned it in the session design issue, and it's not a full authentication solution, but I just published a rough prototype for a session management middleware in [this repo](https://github.com/tomhoule/tide-cookie-session). It's only cookie-based, so not as generic as what @PeteJodo suggested. Any form of feedback is greatly appreciated.

[2019-02-28 23:00] bIgBV commented on #9
@tomhoule that is a really cool implementation. I was planning on writing something very similar to what you've written. So a couple of things come to mind.

Right now the API around extractors might be changing, so that's something you might want to keep an eye out for. I think it's best to think about including this into tide itself once that's in place. That way, we could also use the app wide

[2019-03-01 06:01] tomhoule commented on #9
Thanks for the feedback! I put the session storage in the middleware because it seemed the easiest to implement, but you are right that we could put it in application state and it might be better, I'll try to see how that would be done.

And yes it's probably hard to read, I'll try to put some order and write minimal documentation today to make it easier for others to evaluate it.

[2019-03-01 17:41] bIgBV commented on #9
@tomhoule just saw your changes, these are awesome. I think we can move this into tide, and start working on integrating `Storage` and `Session` types into tide itself, and then have the `CookieSessionMiddleware` middleware as a part of the middleware module.

That's my idea at least and I might be missing something. @aturon @yoshuawuyts , do you guys want to pitch in?

[2019-03-04 12:31] jonathanKingston commented on #143
@yoshuawuyts had a great suggestion of a test suite for generalised problems also. I don't know the feasibility of this but it certainly sounds worthy of exploring.

[2019-03-06 11:16] yoshuawuyts commented on #9
@tomhoule thanks for making this! The API looks like a cool basis to build on further!

@bIgBV I think that would be a great next step!

[2019-03-06 12:50] yoshuawuyts commented on #143
We talked about this last week, and we ended up with some interesting points:

1. it'd be great to have dedicated middleware per security concern (CORS, CSRF, etc.)
2. then in turn those modules could be combined into a single "security" middleware
3. once we feel the middleware is stable, we can merge it into Tide itself, and turn it on by default
4. in addition having a test suite to automate se

[2019-03-06 21:31] bIgBV commented on #9
@yoshuawuyts aren't the changes from #126 going to affect the changes made by @tomhoule ?

[2019-03-07 04:07] PeteJodo commented on #116
#138 is structured more like a formal issue surrounding error handling. Closing this in favor of that issue.

[2019-03-07 04:07] #116 closed

[2019-03-07 04:12] PeteJodo commented on #138
My understanding is that this is possible as long as `MyErrorType` implements `intoResponse`

[2019-03-07 15:54] yoshuawuyts commented on #9
@bIgBV ah yes, that's fair. We should make a decision on how to proceed.

[2019-03-07 17:11] tirr-c commented on #141
So, we need a router that:
* has intuitive path matching algorithm
* can be nested
* has ability to perform reverse lookups

`path-table` currently used by Tide addresses only the second point, and both `route_recognizer` and `actix-router` don't have reverse lookup feature (as far as I understand). I think we need to fork and add needed functionality anyway, so how about experimenting with `route

[2019-03-07 20:32] niklasf opened #147 "Extract named query parameter"
## Feature Request

Extract named parameters from query strings (`?param1=foo&param2=bar`).

### Detailed Description

tide supports query extraction (#14) using `UrlQuery`. For example:

[code]

`UrlQuery<T>` parses `T` using `FromStr`, but if we want to parse the query and extract individual parameters we're on our own.

### Context

Working with query parameters is common in all kinds of applic

[2019-03-07 21:09] bIgBV commented on #9
@yoshuawuyts after going through today's meeting notes, I think its better to wait for aturon's proposal and the changes around that before going ahead with this.

[2019-03-08 07:05] wangtxxl opened #149 "can't build"
[code]

[code]

[2019-03-08 07:34] tomhoule commented on #9
I just read yesterday's meeting on Discord, and the proposed new design looks great. I'll update the middleware and extractor drats to fit it when it lands.

[2019-03-08 16:16] tirr-c commented on #149
cc rust-lang/rust#58888

[2019-03-08 21:20] Murakami-Int opened #150 "Extracting References"
`Extract` cannot contain non-`'static` lifetime because;

1. `Extract` need `Self: 'static`
2. `Extract::extract` return an Associated Type which cannot have lifetime parameter (until GAT installed)
3. endpoints' raw impl must return `FutureObj<'static, _>` to spawn task, however they are given `RouteMatch<'_>` and `&Store`, pass them into `extract`

If we want to allow ectracted references instea

[2019-03-09 10:54] Murakami-Int commented on #150
I noticed `extract` should be given `&mut Request` so immutable reference only can be made by cloned app data even if it's able to extract references. and also to implement `Extract` for types which has lifetime parameter is impossible due to lifetime issue.

There is no need to consider this issue, so I close this.

[2019-03-09 10:54] #150 closed

[2019-03-10 23:23] fundon commented on #141
I wrote a https://github.com/trek-rs/path-tree.

* supports reverse lookups

* supports `named` and `catch-all` likes https://github.com/julienschmidt/httprouter, but more flexible.

Currently, I am thinking about how to generate urls. Maybe the `{}` is best syntax.

[2019-03-11 09:51] fundon commented on #12
Lookup orders

0. static

1. named parameter if `static` not found

2. catch-all parameter if `named parameter` not found

[2019-03-11 17:30] tirr-c commented on #149
This is resolved now, please update to the latest nightly.

[2019-03-11 17:30] #149 closed

[2019-03-13 01:30] wangtxxl opened #152 "slog-async Error"
[code]
[code]

[code]

[code]

[2019-03-13 06:39] devashishdxt commented on #73
Is this still valid? If yes, is anyone working on this? If not, I'd like to start working on this.
@RoGryza
@skade

[2019-03-13 14:06] RoGryza commented on #73
Sorry for the delay, I hacked something together that works but I've introduced some allocations that could be eliminated and never got time to work on it again. I'll submit a PR once I get home from work in order to ask for help

[2019-03-13 19:49] tomhoule commented on #63
I implemented something with an API in the same vein as what @DCJanus suggested. It is going to need a lot more configuration options, but it already works.

Here's the repo: https://github.com/tomhoule/tide-static-files

[2019-03-14 02:43] DCjanus commented on #63
Great job for @tomhoule
But for prod, there is still a lot of other work to be done.
For example:
+ `Range` header(single range and multi range)
+ `Content-Disposition` header(Non-ASCII support?)
+ Better performance(less malloc or zero-copy by `sendfile`)

I was working on this too, but recently, I got a lot of job to be done, may not be able to complete this work.

For `Range` header parse, I wr

[2019-03-14 06:40] tomhoule commented on #63
Thanks! Indeed, there's a lot of work ahead. I wanted to release early to get some feedback and not pour too much work into something that nobody will use. The three points you listed seem important, among others. Do you want to open issues for them? (otherwise I can do it of course).

[2019-03-14 07:01] DCjanus commented on #63
@tomhoule My English is terrible, it's too hard to open such issue for me. :sob:

[2019-03-14 07:19] tomhoule commented on #63
No worries, I can do it :) Feel free to open issues just to drop ideas without explaining at length, that helps a lot too.

[2019-03-14 08:18] gruberb opened #154 "Find a way to configure the response headers"
## Feature Request
Right now we hardcode the `header` in the [`impl IntoResponse for ...` ](https://github.com/rustasync/tide/blob/master/src/response.rs#L59). If we want to return different types (`text/html` instead of `text/plain` for example to serve templates), we would need to be able to configure the header before we send the response.

## Detailed Description
1. We could expose the `http::

[2019-03-14 08:33] #154 closed

[2019-03-14 08:36] DCjanus commented on #154
Possible implementation could ref this: [IntoResponse::with_statue](https://github.com/rustasync/tide/blob/7e87e4e0699a3fff4453c8a25d3f8f5fa186fdbb/src/response.rs#L22)

[2019-03-14 09:41] jjl opened #155 "Permit routing without invoking actions"
I didn't see anything in the router blog post, but one of the commonly requested features in other web frameworks across various languages is to be able to use the router without invoking code.

For example, given a route `/foo/:bar` and a path `/foo/quux`, one would ideally be able to obtain some sort of identifier for the route and the mapping `bar` -> `quux`.

One initial problem would seem to

[2019-03-14 12:40] nicoburns commented on #77
The Laravel docs are excellent, and could be good inspiration: https://laravel.com/docs/5.7/

A particularly great feature of this format is that it works well both as an introductory guide, and as a high-level reference. Laravel also has a rustdoc-style complete API reference, but I rarely need to refer to it, because almost all of the API surface is covered in these higher-level docs.

[2019-03-15 07:00] colinbankier commented on #20
Although going very slowly due to other commitments etc, the "realworld" api example (https://github.com/colinbankier/realworld-tide) is slowly moving forward. Although very incomplete and rough around the edges, it's hopefully at a point where it has some interesting things and where others could help improve / extend it further if they so wished.
Things it aims to do so far:
 - Async queries wit

[2019-03-15 08:02] DCjanus commented on #63
I was going to develop such Endpoint in tide, so I forked tide and pushed some code to [dcjanus/tide](https://github.com/dcjanus/tide).

And then, inspired by tomhoule, separated repo might be better.

So I moved my code from [dcjanus/tide](https://github.com/dcjanus/tide) to [dcjanus/tide-static-file](https://github.com/dcjanus/tide-static-file).

PS: new repo inspired a lot from @tomhoule

[2019-03-17 06:09] mmrath commented on #3
@yoshuawuyts Is there any notes on what was discussed on this?
I would like to enhance the Cookie support such that it is only computed once per request. That computation is then stored in request extension. Any middleware or request handler can then use this Cookie. Also allow middleware/handlers can modify the cookie. All such modifications can then be written to response from a middleware.

[2019-03-19 11:56] tomhoule commented on #63
I think we should join efforts on one crate. @DCjanus has more features so we could use this crate as a starting point. I read the implementation and it looks like it's using blocking file operations without a thread pool, though, so that should probably be fixed.

[2019-03-19 11:56] tomhoule commented on #63
I can contribute this part if we decide to standardize on this crate.

[2019-03-19 13:33] DCjanus commented on #63
To be honest, for me, this repo is just for fun.
For me, it is very difficult to participate in this project steadily. I am willing to transfer this project to someone or contribute my code to @tomhoule's repo.Maybe, participate in the development if I have time.
That's my bad to talk about my personal project in this issue, I am so sorry.

[2019-03-19 16:49] yoshuawuyts commented on #147
Related: https://github.com/rustasync/tide/issues/108

[2019-03-19 17:09] yoshuawuyts commented on #155
@jjl does https://github.com/rustasync/tide/issues/24 cover the topics you're talking about here?

[2019-03-19 17:10] yoshuawuyts commented on #20
@colinbankier looking very cool!

[2019-03-19 17:12] yoshuawuyts commented on #3
@mmrath if I'm remembering correctly, then by moving the extractors out of Tide's core we can simplify the design enough that this is no longer needed.

The extractors would then become a concept _on top of_ the core API. The exact semantics around that haven't been decided yet, as nailing the core API is a bit more of a priority at the moment.

Does that more or less answer it?

[2019-03-19 17:34] chrisabruce commented on #20
Colin,

I want to help.  Will have a look at issues and see what I can help with.

Chris

[2019-03-19 19:04] jjl commented on #155
Named routes would solve the having an identifier for the route, but it doesn't address the rest of the request.

[2019-03-20 02:41] PeteJodo commented on #20
@colinbankier is there a benefit to using the [db pool](https://github.com/colinbankier/realworld-tide/blob/master/src/db.rs#L28-L45) as an async function?

[2019-03-20 03:55] PeteJodo commented on #20
separately, a couple of comments about what I've run into in my own playground:
- had to implement my own `Json` type which implements `Extract` in order to map deserialization errors to a normalized error response. This way the caller gets some feedback about why the call failed rather than just a `BadRequest`.
- still playing with it but have been running into trouble trying to come up with a ni

[2019-03-20 12:04] colinbankier commented on #20
@PeteJodo - I assume you mean using diesel "as normal" without using `tokio_threadpool::blocking`?
The issue is that the db call will block the tokio reactor from handling other requests on that thread, severely limiting the ability to handle concurrent requests. Wrapping this in `blocking` allows tokio to not block the reactor.

[2019-03-20 13:27] PeteJodo commented on #20
Ohh I see where my confusion was, thinking that the async endpoint was it's own thread, d'oh. Yeah that makes total sense, thanks!

[2019-03-21 23:04] tomhoule commented on #9
I saw @aturon open #156  earlier today and couldn't help and try to adapt my session middleware to see how it would fit with the new design, so [here it is](https://github.com/tomhoule/tide-cookie-session). The new traits made the implementation cleaner, and the final API is nicer.

The crate in its current state does not compile with the WIP PR because it lacks a public interface to add middlewar

[2019-03-21 23:44] mmrath commented on #3
Yes, somewhat. I will wait for the core api design.

[2019-03-22 10:38] yoshuawuyts commented on #3
@mmrath speaking of which: https://github.com/rustasync/tide/pull/156 is now up! :tada:

[2019-03-26 19:35] tomhoule commented on #9
I am wondering, with the new design, whether it makes sense for the cookie session middleware to fetch the session data itself. It could be more minimal and provide only session IDs - users can then choose how to fetch session data by implementing an extension trait on their `Context<AppData>`. One big advantage compared to the implementation I linked in the previous comment would be that session

[2019-03-26 19:49] bIgBV commented on #9
I think providing an extension trait with a default implementation using an in memory session backend would be useful. If we want to be able to get people up and running quickly, implementing a session backend is additional overhead for any sort of simple experiment.

Then, we could provide more involved implementations using an actual session store as an external crate or maybe as a part of a con

[2019-03-26 19:56] tomhoule commented on #9
That seems good. The in-memory session storage would probably have to be owned by application data (implementing a trait) or a middleware.

[2019-03-26 20:21] bIgBV commented on #9
A middleware would be the best approach. Though, I'm not entirely sure if it should be a default middleware. This takes the conversation towards explicit vs implicit-ness of the framework.

Do we want users to be explicit about what they are using, or do we provide things implicitly. Because the in-memory session management middleware will come with an associated cost, I think it should be explici

[2019-04-02 09:36] prasannavl opened #158 "Better clarity for configuration API"
_Note: This is mostly just bike-shedding._

The current API has a `ConfigurationBuilder` that `finalize`s, and `Configuration` that `build`s, but really provides `ConfigurationBuilder`. The former is fine, however I feel it lacks parity when combined with the latter.

I think a better approach would be
 - `ConfigurationBuilder::new() -> ConfigurationBuilder`
- `ConfigurationBuilder::build() -> Con

[2019-04-03 10:49] yoshuawuyts commented on #158
@prasannavl Thanks for the issue; that's an excellent point! -- we're currently waiting on #156 to progress, but once that's in I think we should definitely take a closer look at our builders.

[2019-04-03 11:14] prasannavl commented on #25
I don't really see why this direction has to be taken. While it is a common practise in edge services, I don't see why Tide has to be deployed with another proxy just for TLS in simplified infrastructures, where a side car pattern is not desired.

While I don't see Tide being deployed on the edge any time soon, I do think Tide without a sidecar pattern in infrastructures that desire secure interna

[2019-04-03 11:39] prasannavl commented on #8
The agreed on triage above looks good. I haven't gone through the details of much of the discussion above, so sorry if they are redundant. But just faced an issue while testing so thought I'll chime in.

Some points:
- I'm not fan of using `slog` as the default logger. I think it should just be the log crate, and everything else should come in as external adapters, or from the application.
- I thi

[2019-04-03 12:05] prasannavl commented on #152
@wangtxxl - https://github.com/rustasync/tide/issues/8#issuecomment-479452691

[2019-04-03 17:24] bIgBV commented on #8
@prasannavl I agree with what you are saying. This has come up a while ago in the meetings and the current consensus is to simply use the `log` crate and it's macros and the framework user will simply use any off the `Logger` implementations  like env_logger, pretty_env_logger or even slog (or even tokio-trace) as they see fit. Right now I'm waiting for #156 to land so that I can go in and remove

[2019-04-04 22:16] prasannavl commented on #123
Hmm. I looked at #129, as well. I think this entire area of exploration is increasing complexity and creating a domain specific API while in practicality this probably is not at all needed. Once  https://github.com/rustasync/tide/pull/156 lands, as long as `Configuration` is done in a generic way where any type can go it, and be taken out, I feel that's the extent that `tide` should go, beyond som

[2019-04-05 10:30] tomhoule commented on #63
With the latest changes in the revamp PR it became possible to make [tide-static-files](https://github.com/tomhoule/tide-static-files) work again with the new abstractions.

[2019-04-06 11:05] mehcode commented on #123
Just want to pop in and say that I would be disappointed if a library like this were to process configuration files or environment variables on its own. I very much agree with @prasannavl here.

[2019-04-09 08:59] yoshuawuyts commented on #138
I've been thinking about error handling a bunch, and I think there are generally two things people might want to do:

1. attach http status codes & error messages to existing errors
2. create new errors with status codes

There's probably people that will want to do this structurally (analogous to implementing custom structs with failures' `Fail` trait), but many others will be happy to create err

[2019-04-09 09:11] yoshuawuyts commented on #123
Unrelated (but fun!) update on the structopt side: we're currently experimenting with what shape it could take if we could make command line parsing _"more first class"_ in the language.

https://github.com/rust-cli/paw is where we're currently experimenting, and if it turns out alright, I think it'll nicely compliment Tide (as a separate package :sparkles:).

## Vaporware Example
[code]

[2019-04-10 20:55] aturon commented on #3
Update after #156:

To clarify: we'll still be able to make some API improvements once this compiler limitation is lifted. In particular, right now middleware has to pass a fully *owned* context downward, which means that if you want to read information out of the context afterward, you have to arrange for that separately.

Ultimately, both middleware and endpoints should work with `&mut Context`

[2019-04-10 20:58] aturon commented on #12
We've now moved to route-recognizer! To finish out this issue, though, we need to fix the route selection order in that crate. I'm working on getting ownership of the crate for the rustasync org so we can do that ourselves.

[2019-04-10 20:59] aturon commented on #37
I'm gonna close this for now; doesn't look like `FutureObj` is going away any time soon.

[2019-04-10 20:59] #37 closed

[2019-04-10 20:59] aturon commented on #53
This is done as of #140!

[2019-04-10 20:59] #53 closed

[2019-04-10 21:00] aturon commented on #56
I believe this story is much more clear as of #156, closing for now!

[2019-04-10 21:00] #56 closed

[2019-04-10 21:01] aturon commented on #62
This currently works via `/static/:path*`.

[2019-04-10 21:01] #62 closed

[2019-04-10 21:03] aturon opened #160 "Nested `App`s"
As of #156 there is no way to "mount" an `App` within another app. We'll eventually want to work out the story here, including what happens to middleware when nesting.

[2019-04-10 21:04] aturon commented on #75
With the #156 revamp, we *do* intend to allow `App`s to be nested; that desire is tracked in https://github.com/rustasync/tide/issues/160. I'm closing this issue for the time being.

[2019-04-10 21:04] #75 closed

[2019-04-10 21:04] aturon commented on #85
Addressed in #156.

[2019-04-10 21:04] #85 closed

[2019-04-10 21:05] aturon commented on #87
Even after #156 the story here is a bit muddy. We should consider making improvements to route-recognizer such that we can tell when an existing resource is being overwritten.

[2019-04-10 21:10] aturon commented on #141
The #156 PR moved to route-recognizer. And in general it should now be much easier to swap out the underlying router. I'm open to moving to path-tree if that seems like a better option -- though offhand the two seem pretty comparable in terms of functionality (and route-recognizer is used by crates.io, so there's *some* impetus for sharing).

I'm going to close this for now, but if @fundon or othe

[2019-04-10 21:10] #141 closed

[2019-04-10 21:11] aturon commented on #108
This is resolved in #156, which takes a radically different approach to extraction.

[2019-04-10 21:11] #108 closed

[2019-04-10 21:12] aturon commented on #147
This should be easier to explore now that #156 has landed!

[2019-04-10 21:13] aturon commented on #155
Could you say more about the use-case here? It wouldn't be hard to do routing without invoking any code, but it's not quite clear to me what the end goal is.

[2019-04-10 21:14] aturon commented on #158
After #156, none of these configuration APIs exist any more :-)

[2019-04-10 21:14] #158 closed

[2019-04-10 21:15] aturon commented on #123
Now that #156 has landed, we should take a fresh look at configuration.

[2019-04-10 21:39] aturon commented on #138
The revamp in #156 added an `error` module that provides a bunch of goodies along these lines!

Here were my goals:

- Make it easy to use `?` in endpoints
- Make it possible for middleware to analyze errors
- Make it easy to control the exact response being generated, including the status code

Here's what the revamp does to achieve these goals:

The `tide::error::Error` type provides a generic e

[2019-04-10 21:45] aturon commented on #73
This is worth revisiting now that #156 has landed -- anybody want to take it back up?

[2019-04-10 22:06] aturon commented on #16
Closing as of #156, which eliminated the concept of "computed values".

[2019-04-10 22:06] #16 closed

[2019-04-10 22:44] aturon opened #162 "RFC: isolating a stable core"
Tide is designed to be a highly modular, extensible framework, and #156 pushes us further in that direction.

There are a set of core concepts and interfaces:

- The core routing system (`App` and `Route`)
- The `Endpoint` interface, including `Context`
- The `Middleware` interface

Beyond that, we have a number of implementations and extensions:

- Various "extractors", which are now implemented

[2019-04-10 22:45] aturon commented on #162
Related to #73 and https://github.com/rustasync/tide/pull/159 as well, which both touch on "middlware stacks" (and how to provide a default one).

[2019-04-10 22:48] aturon commented on #162
An important question here: as the dust settles from #156, can we find ways to make it easier to write middleware that works across multiple frameworks? E.g., Actix has its own notion of middleware that's not too far off from Tide's. But it's not obvious that the differences can be easily bridged. Maybe it's possible to define a "least common denominator" interface that offers generic wrappers for

[2019-04-11 00:28] devashishdxt commented on #73
I can take a look if no one else is already working on it.

[2019-04-11 06:03] pickfire commented on #65
Maybe it would be nice to add tide to https://github.com/TechEmpower/FrameworkBenchmarks?

[2019-04-11 08:55] rolftimmermans commented on #162
Having a universal middleware concept in the Rust web-ecosystem is something I look forward to. In the Ruby community, for example, every framework builds on Rack middleware. I see this as the sole factor that allows for (some) code reuse across frameworks.

My questions would be:
* If Actix middleware is different, why is it different? Does Tide middleware offer the same functionality, and could

[2019-04-11 09:15] yoshuawuyts commented on #138
@aturon something I'm still missing in the current state is to provide:
1. error _messages_; knowing what went wrong and why, particularly with validation, is super useful
2. have custom formatters for the errors. If for example Stripe decides to use Tide, they'll likely want to return errors with a different (JSON) formatting then when Zalando uses it.

Also I'm not entirely confident in the mapp

[2019-04-11 09:19] yoshuawuyts commented on #162
I think we can probably follow in [gloo](https://github.com/rustwasm/gloo/)'s footsteps here, and create a whole lot of subcrates + a skeleton to RFC a design for a crate. This would allow us to build out a fair share of middleware without incurring too much of the maintenance overhead.

Also in particular their approaches to [versioning](https://github.com/rustwasm/gloo/issues/66) and [release sc

[2019-04-11 09:32] yoshuawuyts opened #163 "Return a Future from app.serve"
## Feature Request

## Detailed Description
Instead of creating a runtime inside `app.serve`, I propose we return a future instead that allows people to run the app on whichever runtime they choose.

## Context
From the API it currently isn't clear that Tide operates asynchronously. Also things like starting a database in parallel to Tide feels a bit awkward because async control flow primitives s

[2019-04-11 09:44] yoshuawuyts commented on #65
I think it's important to ask ourselves _why_ we want benchmarks. For me I'd like them so we can
work on tooling to make tests easier to write, but also allow us to profile performance regressions by just running the benches.

I have a few reservations with the techempower benchmark because it only measures numbers, but without emulating real-world deployment environments. For example: there's a f

[2019-04-11 10:02] prasannavl commented on #162
Glad to see this direction!

Couple of quick thoughts:

- Agreed 100% on keeping tide as core and interfaces only.
- Middlewares __are best kept in a separate tide-blessed crate__. It _shouldn't matter much_ if they're a part of the same repo, or a different one.
-  That being said, __I do think a separate repo will encourage and make things easier if cross-framework middleware is the goal__.
- Al

[2019-04-11 15:45] pickfire commented on #65
@yoshuawuyts I understand that the benchmark would be interesting but since we are in early stage, it might affect our image later on. However, it is the same the other way around, since the project provides ergonomic API, if somehow the benchmark excels, somewhat it will greatly boosts the project image.

Like a double edge sword, it could be good or bad at the same time. Maybe we can do this, fi

[2019-04-11 16:22] bIgBV commented on #162
@prasannavl re: logger, I think following the footsteps of actix would be a good idea. Simply use the macros from the log crate and users of the framework can use a crate which implements the `Logger` interface. This could be something like `env_logger`, `slog` or even `tokio-trace`. I think that this is the most flexible approach.

[2019-04-11 16:34] prasannavl commented on #162
@bIgBV - That's exactly what the `RequestLogger` in `surf` does. Plus a few other goodies like timing, and more planned like custom formatter, all on top of whatever logger is being set up by the `log` crate by the application.

[2019-04-11 17:11] yoshuawuyts commented on #65
@pickfire cool yeah, I think we're on the same page then! -- I'd probably propose starting with a `benches/` repository in Tide so we can run `cargo bench` on it.

The question then becomes: what do we want to start benchmarking?

[2019-04-11 18:09] aturon opened #164 "Having a universal middleware concept in the Rust web-ecosystem is something I look forward to. In the Ruby community, for example, every framework builds on Rack middleware. I see this as the sole factor that allows for (some) code reuse across frameworks."
Having a universal middleware concept in the Rust web-ecosystem is something I look forward to. In the Ruby community, for example, every framework builds on Rack middleware. I see this as the sole factor that allows for (some) code reuse across frameworks.

My questions would be:
* If Actix middleware is different, why is it different? Does Tide middleware offer the same functionality, and could

[2019-04-11 18:12] aturon commented on #162
@rolftimmermans great comment -- I liked it so much I've [moved it to its own issue](https://github.com/rustasync/tide/issues/164), as I think cross-framework middleware deserves its own focused discussion.

(That said, as folks have noted in this thread, there's some potential impact on where middleware lives and how it's named etc, depending on whether it's Tide-specific)

[2019-04-11 18:16] aturon commented on #164
If folks want to help on this front, one great step would be to start documenting the various middleware interfaces defined by frameworks today -- Actix, Gotham, Rocket, Tower-Web, Tide. For now, maybe just drop copies of the relevant traits and traits as comments here on this thread.

[2019-04-11 18:27] DoumanAsh commented on #164
Actix's [middleware](https://actix.rs/actix-web/actix_service/trait.Transform.html)

[2019-04-12 02:05] pickfire commented on #65
@yoshuawuyts Nice! Maybe what is benchmarked in techempower could be used as an hello world for benchmarking, it would as well allow it to be ported over easier later on.

[2019-04-12 02:29] secretfader commented on #65
I think general benchmarks that can be easily migrated to new versions of Tide would be helpful for internal use. That's a very different proposal from creating benchmarks for TechEmpower, who provide a [category that each test must belong to](https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Project-Information-Framework-Tests-Overview).

The former is about closing the loop on technical de

[2019-04-12 11:29] pickfire commented on #65
Would benchmark that acts as both benchmarks and tests and examples helps as well? Who knows if we could take all the codes in examples and make it benchmarks without adding benchmarks.

[2019-04-12 13:28] manifest opened #165 "Consider returning multiple responses on a single request"
HTTP/2 Server Push allows to send multiple responses on a single request. That seems to affect the interface of endpoints.

[2019-04-12 13:35] DCjanus commented on #165
I don't think Server Push is "one request, multiple responses", and mostly, it used for static file server like NGINX.

[2019-04-12 15:35] DCjanus opened #167 "example 'catch all' panicked"
Example code in [this file](https://github.com/rustasync/tide/blob/dc28fd5601d8b8d071de999e080f2c347c3fd61d/examples/catch_all.rs) would panic.

Tested with `curl 127.0.0.1:8000/echo_path/foo`.

[2019-04-12 15:42] DCjanus commented on #167
With code like
[code]

Output is

[code]

I think this is a bug of route-recognizer.

[2019-04-12 15:57] DCjanus commented on #167
I am not sure how to fix it: replace `"path" with `"path*"` in example or patch somthing to `route-recognizer`?

[2019-04-12 16:58] secretfader commented on #65
@pickfire That's a great suggestion. Like @yoshuawuyts, I have open questions about which benchmarks would be the most helpful, but I'm definitely in favor of reusing examples where possible.

If we can push up basic monitoring of endpoint performance, I think that's a good start. I know there's talk of introducing the concept of [middleware "stacks"](https://github.com/rustasync/tide/issues/73) w

[2019-04-12 17:33] secretfader commented on #164
Gotham's middleware implementation relies on [two traits](https://github.com/gotham-rs/gotham/blob/master/gotham/src/middleware/mod.rs): `Middleware` defines the request handler specification, while `NewMiddleware` creates per-request clones of the middleware implementation.

It isn't terribly complex, but I have questions surrounding how to best wrap `RefUnwindSafe`.

[2019-04-12 17:34] secretfader commented on #164
Gotham middleware relies on [two traits](https://github.com/gotham-rs/gotham/blob/master/gotham/src/middleware/mod.rs): `Middleware` defines the request handler specification, while `NewMiddleware` creates per-request clones of the middleware implementation.

It isn't terribly complex, but I have questions surrounding how to best wrap `RefUnwindSafe`.

[2019-04-12 17:51] secretfader commented on #165
I believe @DCjanus is correct. HTTP/2 Server Push may be useful if you're using Tide as a static file server, but there are other (and at this point, arguably better) tools for the same job.

I can see where it would be helpful

[2019-04-12 17:51] secretfader commented on #165
If anything, HTTP/2 Server Push could be useful if Tide is [primarily serving static files](https://jakearchibald.com/2017/h2-push-tougher-than-i-thought/). That said, I bl

[2019-04-12 17:54] secretfader commented on #165
If anything, HTTP/2 Server Push could be useful if Tide is [primarily serving static files](https://jakearchibald.com/2017/h2-push-tougher-than-i-thought/). That said, I believe there are other (and at this point, arguably better) tools for the same job.

If we are to implement HTTP/2 Server Push in Tide, perhaps it can begin life as a feature flag, compiled only for compatible HTTP implementation

[2019-04-12 17:59] secretfader commented on #163
Within the bounds of this proposal, is it possible to still provide a "batteries-included" runtime experience for new users?

[2019-04-12 18:17] LucioFranco commented on #163
@secretfader you could have it return a custom future, that then as a function on it call say `sync` that will block and start the server. Under the hood it would consume itself, pass itself to a runtime.

[2019-04-12 23:48] #167 closed

[2019-04-13 00:00] yoshuawuyts commented on #165
@manifest I had the same intuition around that initially too, but after some lengthy discussions with @aturon we concluded that it's actually a pretty natural fit to add HTTP/push and websockets/SSE on top of the streaming request/response model Tide has.

We currently don't have anything around this yet, but I think the interface is in a good spot to allow experimentation around this (:

[2019-04-13 00:37] manifest commented on #165
@yoshuawuyts Can I read discussion or description of the streaming request/response model of Tide somewhere?

[2019-04-13 00:46] yoshuawuyts commented on #165
@manifest most of it is part of `Request` and `Response` in https://docs.rs/http-service/0.1.4/http_service/, where for Tide possible future extensions could be made by adding methods to `Context` (e.g. for h2 push).

The chats I referenced earlier were in-person, and weren't archived unfortunately. Hopefully this is still useful tho!

[2019-04-13 01:04] manifest commented on #165
Ok, thanks. I'll try make sense of it :-)

[2019-04-13 01:05] #165 closed

[2019-04-13 12:37] mmrath commented on #162
While there are advantages of keeping core small and then building app with pluggable ecosystem crates, I am more in favour of a meta crate that pulls together necessary bits to get me started. The basic things should all be provided by the crate.
One approach to extract core apis to a crate(which is currently tide) named `tide-api` and then other crates depend of `tide-api`. `tide` can be the met

[2019-04-13 13:41] prasannavl commented on #162
I'd rather prefer it handled outside of tide _for the time being_, as the tide story first becomes production ready and has a little bit of time to stabilise. This will put tide in a much better place on how best to do this.  I've been examining how to get this up and running in `surf` myself.

I've been thinking of helper patterns similar to `surf::app::new` or `surf::app::with_common`, or if it

[2019-04-15 19:06] fairingrey commented on #19
I could work on this issue, it seems fairly simple.

[2019-04-15 20:54] badboy opened #173 "Used nightly is undocumented"
tide requires nightly, but this is nowhere documented.
Additionally it's not documented _which_ nightly works.
The one [defined for Travis](https://github.com/rustasync/tide/blame/master/.travis.yml#L3) is old and as shown by Travis, tide doesn't compile anymore.

Please do:
1. Document that it depends on nightly (and why).
2. Document which nightly works, e.g. in a [`rust-toolchain` file](https:/

[2019-04-15 21:09] badboy commented on #173
Oh, additionally it might be necessary to either have a Cargo.lock committed or version-pin dependencies. I can't get Tide compiled with yesterday's or today's nightly because dependencies fail to build.

[2019-04-15 21:33] fairingrey commented on #173
I agree, it should be documented!

By the way, the latest nightly that works with tide currently is `nightly-2019-04-07`, because of https://github.com/rust-lang-nursery/futures-rs/issues/1518. The fix to it was merged just hours ago and futures 0.3.0-alpha.14 is now available with the fix.

However, the `http_service` dependency still relies on 0.3.0-alpha.13, so it can't be used until that's als

[2019-04-16 11:22] toothbrush7777777 opened #174 "Error building docs on latest nightly"

[2019-04-16 11:24] toothbrush7777777 commented on #174
See also https://github.com/rustasync/tide/issues/173#issuecomment-483427511.

[2019-04-16 14:30] mgattozzi commented on #138
I agree with @yoshuawuyts that having the error automatically 400 or 500 is a bit limiting. Being able to pass in a value like 404 would be ideal, or even better a set of consts representing those numbers to let users use both (i.e. NOT_FOUND or 404).

I will say I like this approach for methods to map things to end point errors in order to turn them into something that works inside tide as an err

[2019-04-17 01:52] fairingrey commented on #19
Just a little update, but are you guys expecting something like this for the docs? I've added what a Tide endpoint would look like without the `async` keyword in this commit: https://github.com/fairingrey/tide/commit/3f0bca5f1522a24c00d10e7fe8d96ab7a51fd56e

[2019-04-17 02:12] DCjanus commented on #173
Not related to the lock file, more is the change of the standard library.
As library, tide should not lock dependencies, patch version change should not break user.

[2019-04-17 02:16] fairingrey commented on #174
Once both https://github.com/rustasync/http-service/pull/14 and https://github.com/rustasync/tide/pull/176 are merged, it should build on the latest nightly. Not only that, but the latter PR also updates Travis so the build succeeds too.

In the meantime, as I mentioned in that comment, one can get tide to work on the latest nightly by updating a few things in `Cargo.toml`

[code]

[2019-04-17 07:27] badboy commented on #173
@fairingrey cool, thanks!
@DCjanus Normally I would agree, but this being all unstable and nightly APIs there's a higher chance on breaking.

[2019-04-17 12:03] yoshuawuyts commented on #19
@fairingrey fantastic! -- a PR for this would be grand!

[2019-04-17 18:19] secretfader commented on #67
I recently found [`tokio-tungstenite`](https://github.com/snapview/tokio-tungstenite), a project which provides tokio bindings for Tungstenite, a WebSocket library. I haven't personally reviewed the code, but it might be worth a look (at least for inspiration).

[2019-04-17 21:12] #19 closed

[2019-04-18 14:52] prasannavl commented on #174
This should be fixed now with #176 merged.

[2019-04-18 14:52] #174 closed

[2019-04-18 16:39] secretfader commented on #147
#175 is an updated version of this PR.

[2019-04-18 17:36] secretfader commented on #162
Discussions after today's meeting seemed to center around the need to separate Tide core from contributed extensions that, while they may be common, aren't needed for *every* application that depends on Tide.

Based on an idea from @bIgBV, I propose the following:

1. All non-essential extensions live in a `tide-contrib` repo, created under this organization, which functions as a multi-crate works

[2019-04-18 18:35] aturon commented on #162
We had some extensive discussion on Discord, which led to the following.

## Goals

- make it easy for folks to land new, experimental extensions
- make it easy to make breaking changes to experimental parts of the framework, without disrupting the more stable parts
- provide a nice, batteries-included entry point to the framework, so that it's not too much work to get set up to handle common need

[2019-04-19 19:25] Texlo-Dev commented on #163
I agree with this proposal. Currently, it is a challenge to set up an asynchronous database pool with Tide, as you can't use the same runtime as Tide.

[2019-04-20 05:57] yoshuawuyts commented on #163
With [Runtime](https://github.com/rustasync/runtime) we'll be able to also get rid of most of the boilerplate this change would introduce 😊 :
[code]

[2019-04-20 15:17] secretfader commented on #173
We mention that Tide requires the `async_await` feature flag in the README. As someone familiar with the Rust ecosystem, this is obvious enough. I could see where newcomers might be tripped up.

I'm conflicted over whether we need a notice that Tide requires nightly (and a fairly recent one, too). If this question were posed a few months ago, I'd suggest notifying potential users. However, accordi

[2019-04-21 02:34] fairingrey commented on #45
I attempted to write a test for this given the mock service provided through `http_service_mock` but I'm running into something strange... There's more details in my PR: https://github.com/rustasync/tide/pull/179

[2019-04-21 08:10] tirr-c commented on #160
We also need to think about how to perform URL reverse lookup within nested `App`s. If we nest `App`s as endpoints, it might be tough to lookup.

[2019-04-21 09:14] tirr-c commented on #163
I'm working on this, the update on `http-service-hyper` is here: rustasync/http-service#21

[2019-04-21 20:47] ghost opened #184 "Drop Send + Sync from ResultExt imp for std::error::Error"
I'm using tera and it has an error type which is !Send, !Sync.
Is it possible to drop the these requirements in the  implementation of ResultExt for T: std::error:Error?

Note, Tera also has a related issue: Errors are not sync: https://github.com/Keats/tera/issues/381.
It'd be great if the two create were compatible by the error handling, and a simple client_err/server_err were enough without the

[2019-04-23 09:10] #173 closed

[2019-04-23 15:50] yoshuawuyts commented on #184
@zpgaal those constraints can't really be loosened as Tide is an async system where we _do_ need to be able to send errors between threads, and we also have to be generic over any kind of user error. There's not much we can do about those requirements, which means we can't really change our trait requirements either.

It feels like this might be solvable as part of the repository you've linked, pe

[2019-04-23 21:41] mmrath opened #186 "reducing boilerplate"
## Feature

Last weekend I was trying to migrate a small rocket app to tide for fun. I felt that tide currently have quite a bit of boilerplate code. Specially with the recent change of removing extractors. This could be very unpopular opinion I know. But I would like to know what are others experience is.

## Detailed Description

## Context

## Possible Implementation

I think we could create an

[2019-04-24 00:12] secretfader commented on #186
We've been discussing the split between Tide core and a possible utility crate in #162. If you haven't read that issue yet, take a look. Your feedback would be appreciated!

[2019-04-24 20:54] #147 closed

[2019-04-24 21:04] aturon opened #187 "Decide on extension trait convention"
Tide uses many "extension traits" (which extend an existing type with new methods, and have no other impls). We should standardize on a naming convention.

[2019-04-24 21:05] aturon commented on #187
One possibility would be `FooExt` where `Foo` is the name of the type being extended -- including the type in the name helps the reader quickly see what is being extended.

A downside is that we want to provide many extensions to `Context`. We'd end up with `cookies::ContextExt` and `forms::ContextExt` etc. But given that you only use these trait names on import, where they will be qualified by mo

[2019-04-24 21:13] bIgBV commented on #187
I think using `ContextExt` would be a good idea. This would be the common type name across the entire ecosystem which would signal that this type extends something on tide's `Context`. I think the recognizability this achieves will be really useful to convey the idea of how it's supposed to be used. Overall it provides a consistent name for the core extension trait in a given crate across all such

[2019-04-24 22:51] secretfader commented on #187
If I apply this specification to #175, I feel like we have several options:

- `QueryStringExt`
- `UrlQueryExt`
- `QueryExt`

I'm not entirely sure which is appropriate, but the method it defines is `url_query`. So `UrlQueryExt` is probably the most intuitive.

[2019-04-25 08:46] yoshuawuyts commented on #186
@mmrath could you perhaps expand on what boilerplate you found frustrating?

I feel like we've been trying hard to make _minimal_ tide apps work well. But admittedly with the new Tide API we don't have as clear of a picture yet for what _small_ or _medium_ sized apps run into. Like @secretfader said: your insights would be valuable!

[2019-04-25 22:43] k-nasa opened #190 "Add App::custom or App::with_data"
## Feature Request
```App :: new (())``` looks a bit odd when show example.
#189 App initialization should be improved as there is this PR too.
I think that I can improve it by introducing App :: custom and App :: with_data.
However, it will change the behavior of the existing App :: new, and the change is likely to increase. What do you think?

## Context

Quote from PR　#189

## Possible Implemen

[2019-04-26 13:19] pickfire commented on #190
@k-nasa I understand the need of `App::with_data(())` (actix-web have that too) but I do not know the need for `App::custom()`. What is `App::custom()` for?

[2019-04-26 13:30] k-nasa commented on #190
@pickfire  Sorry. I wrote it properly because I could not think of a good name. Please ignore ```App :: custom```.
I considered ```App :: with_data, App :: with_state, App: attach, App :: custom``` etc.

[2019-04-26 15:26] secretfader commented on #190
It seems like this issue has a fair bit of overlap with #192. @k-nasa Would you mind commenting there in case the proposed changes don't meet your expectations?

[2019-04-30 03:31] updogliu opened #196 "How to add clone-able but `!Sync` App state?"
## Context
I was trying to add a [std::sync::mpsc::Sender](https://doc.rust-lang.org/beta/std/sync/mpsc/struct.Sender.html) to my `AppData`. My design is that the receiver would process the received data one by one and send each result back using an `futures::channel::oneshot` associated with the data. The endpoint would `await!()` on the async oneshot channel for the result.

 Because it is `!Syn

[2019-05-01 09:30] updogliu opened #197 "Can't build with rustc 1.36.0-nightly (7c71bc320 2019-04-30)"
#### Environment

- Rust toolchain version(s): nightly-x86_64-unknown-linux-gnu, rustc 1.36.0-nightly (7c71bc320 2019-04-30)
- OS: Ubuntu 16.04

#### Possible Solution
Update dependency versions of `http-service`, `http-service-hyper`, `http-service-mock` to 0.2.0

#### Build Error
[code]

[2019-05-01 16:16] secretfader commented on #197
Tide is lacking a few updates (like #193) that are needed to build on the latest `nightly`. Until we sync up with the latest `std::futures` API, please refer to the `README` for supported versions of `rustc`.

[2019-05-02 00:12] #197 closed

[2019-05-03 01:48] fairingrey commented on #187
I'm in support of using the `*Ext` naming scheme -- it's what I see a lot in the ecosystem already and feels the most familiar.

As for the comment above https://github.com/rustasync/tide/issues/187#issuecomment-486456855, yeah I'd also go with `UrlQueryExt`. I think `QueryExt` is a bit too unclear, and `QueryStringExt` doesn't quite feel right (as while it is a string deserialization it doesn't q

[2019-05-03 13:25] secretfader commented on #187
@fairingrey Ignore my comment above. I completely misunderstood the convention. A more appropriate naming scheme for the `querystring` module is `tide::querystring::ContextExt`.

[2019-05-03 15:48] fairingrey commented on #187
Oh, sorry! Yeah, that makes sense.

[2019-05-04 02:25] fairingrey commented on #51
Just a remark on this (and also to the related PR at https://github.com/rustasync/tide/pull/104), it seems that Tide currently stores routes as a HashMap keyed on HTTP method, with values being the routers that contain endpoints with the given HTTP method (and accessed through the URL path).

This is just my idea, but one naive way of adding automatic support for `OPTIONS` is probably to just key

[2019-05-06 18:44] secretfader commented on #190
Any objections to closing this issue, @k-nasa? Thanks for the implementation of #192!

[2019-05-06 21:24] secretfader commented on #196
I have a hunch this will end up at the same answer as #184, but in the chance I misunderstood your request, could you elaborate a bit more?

If you're stuck on using channels in Tide middleware, you might take a look at @tomhoule's implementation of a cookie session middleware](https://github.com/tomhoule/tide-cookie-session/blob/master/src/lib.rs) which uses `futures::channel` to pass data.

[2019-05-07 02:04] k-nasa commented on #190
I don't have any objections.

[2019-05-07 02:16] updogliu commented on #196
What I am asking is different to #184. I am not asking about remove the bound of `Sync`. Currently the `AppData` is shared by reference among threads, so it has to be `Sync`. What I am asking is that - is it possible to allow sharing App state by cloned values, rather than by reference. For example, we could add a `AppCloneableData` besides `AppData`, and the `Context` struct would become

[code]

[2019-05-07 09:56] #190 closed

[2019-05-07 10:17] yoshuawuyts commented on #196
A different solution to passing channels would be to use [`crossbeam`'s channel implementation](https://docs.rs/crossbeam/0.7.1/crossbeam/channel/fn.bounded.html). This _does_ implement `Send + Sync` which evades a lot of the problems here.

I feel that std channels are a bit finicky in general, and people have been talking for a while now what the best way to soft-deprecate / replace them are. In

[2019-05-07 12:14] updogliu commented on #196
@yoshuawuyts This is very helpful! Thank you for introducing `crossbeam::channel`. It should resolve my original problem!

However, I will left this issue open for now. I think it is worth a discussion in general.

[2019-05-09 17:36] fairingrey commented on #26
I took up this issue up roughly two weeks ago through https://github.com/rustasync/tide/pull/194 and progress is almost finished. There are some things I want to wrap up before I submit it for review.

[2019-05-10 02:07] secretfader opened #205 "Trailing slash"
When creating REST APIs with Tide, I expect code like the following will be fairly common:

[code]

I don't think developers will type both routes, but in the wild, it's highly likely that we'll find both techniques in use. Being a bit more explicit about how routes are added the looked up may be an option to prevent confusion going forward. When looking at the example, it isn't entirely clear how

[2019-05-10 09:01] k-nasa opened #207 "Is it possible to return an HTML response?"
## Question

How do I implement it to return an HTML response?
I checked about response, but "content-type: text / html"
 There is no applicable place in. Also, there is no processing to return HTML in example.
https://github.com/rustasync/tide/blob/7e87e4e0699a3fff4453c8a25d3f8f5fa186fdbb/src/response.rs

However, I think there are many such use cases.

Here is a suggestion, but I think we should

[2019-05-10 09:59] updogliu opened #208 "impl `ResultExt<T>` for `Result<T, Box<dyn Error>>`"
I am trying to use a `Result<T, Box<dyn Error + Send + Sync + 'static>>` as a `ResultExt<T>`. However, the current implementation for `Result<T, E>` does not cover the `Box<dyn Error + Send + Sync + 'static>` version.

I tried to add a
`impl<T> ResultExt<T> for std::result::Result<T, Box<dyn std::error::Error + Send + Sync + 'static>>`,

but it conflicted with the existing
`impl<T, E: std::error::

[2019-05-10 10:42] yoshuawuyts commented on #60
0.1 has been released, and we're regularly releasing new versions now. I think it's safe to close this (:

[2019-05-10 10:42] #60 closed

[2019-05-10 12:46] updogliu commented on #208
Guess that impl `ResultExt<T>` for both `Result<T, Error>` and `Result<T,

[2019-05-10 13:44] updogliu commented on #208
Reported in the language repo with an minimized example: https://github.com/rust-lang/rust/issues/31844#issuecomment-491291803.

[2019-05-12 18:40] gruberb opened #215 "Implement a way to handle CORS headers"
To be able to implement an API with tide, we need to be able to answer OPTION requests with appropriate CORS headers.

## Feature Request

## Detailed Description
Investigation is needed, but we would probably use the [Context API](https://docs.rs/tide/0.2.0/tide/struct.Context.html).

We can either integrate handling of CORS in the core of tide, or implement it as a `tide-cors` crate.

Option 1,

[2019-05-13 11:30] yoshuawuyts commented on #162
@rustasync/maintainers would anyone be interested in picking up this issue for this sprint? It seems like this would likely make the biggest structural improvement to our process, and free us up to do more experiments, and iterate faster :sparkles:

[2019-05-13 11:33] wafflespeanut commented on #162
I can pick this up!

[2019-05-13 13:17] secretfader commented on #186
@mmrath I expect progress on #162 will begin appearing soon. Is it safe to close this issue?

[2019-05-13 13:20] secretfader commented on #162
You're welcome to it, @wafflespeanut. I'll be on the lookout for a PR. Thanks for helping out!

[2019-05-13 13:35] prasannavl commented on #162
@wafflespeanut - Awesome! Splitting this up into smaller units to make this more manageable into smaller PRs

- [x] Cargo workspace and move tide folder. [I already have this in a reasonable state - Will open a PR soon]
- [ ] tide-log [`RequestLogger` from surf]
- [ ] tide-slog [What's currently called the `RootLogger`]
- [ ] tide-cookies
- [ ] tide-header / tide-default-header [ Bike shedding nee

[2019-05-13 14:45] secretfader commented on #162
We can bikeshed on crate names later. I don't think that's the most critical portion of this discussion. Ideally, the PR addressing this RFC should initially focus on the following:

**Splitting Tide core into smaller crates:**

Before we move any new code into this repo (from Surf or elsewhere). It makes sense to document the expected outcome. Once the split between Tide core and middleware is co

[2019-05-13 14:57] prasannavl commented on #162
@secretfader  - I think we've already discussed this, and there's no special `contrib`  as such for now. Just lots to `tide-` middlewares for now. (https://github.com/rustasync/tide/issues/162#issuecomment-484631906)

We can move whatever needs to be in the core later. For now, I think we just split off and hit the ground running marking this as a ground zero of sorts, with nothing in the core at

[2019-05-13 15:11] secretfader commented on #162
@prasannavl I think you misunderstood my comment. I'm not suggesting we create a crate for commonly used middlewares at this stage. However,  think it would be helpful to place any resulting crates into their own folder, `contrib/`, rather than tossing all extracted code into the repo root.

[2019-05-13 15:19] prasannavl commented on #162
Tokio, futures all of them follow this model of doing it in the root currently. Besides, everything other than tide itself is going to be a folder with middleware, so I don't see the point of the indirection at this stage. However, if you feel strongly about the organisation structure, perhaps we should arrive at a consensus there.

[2019-05-14 04:24] prasannavl commented on #162
@yoshuawuyts - I can co-ordinate this with others interested. Have done some of the foundation bits as well. I know you're busy on `runtime` this sprint, but would be great if you could just quickly run through the game plan here to make sure it all aligns well: https://github.com/rustasync/tide/issues/162#issuecomment-491825007

[2019-05-14 10:11] prasannavl commented on #65
I agree with all of what's said here. But just want to add that there's a marketing and framework discovery aspect that can be gained from techempower benchmarks, that also could help boost community engagement.

I personally have discovered many frameworks in the past being led onto from there (esp. for folks coming from other languages). And have also seen people use the same rationale to not ge

[2019-05-15 03:26] prasannavl opened #223 "Split examples into binaries that are runnable independently"
## Feature Request

- We should make examples runnable individually easily.

## Context

- https://github.com/rustasync/tide/pull/219#pullrequestreview-236996850

## Possible Implementation

- Have each example as separate bin (under `examples/src/bin/`), so that it can be easily run.

[2019-05-15 03:34] prasannavl opened #224 "Common Logging Format"
## Feature Request

- Would be great if the default logger has the option to do [Common Logging Format](https://en.wikipedia.org/wiki/Common_Log_Format).

## Detailed Description

- Currently, https://github.com/rustasync/tide/pull/222 sets up `tide-log`.
- We should think about having an additional option to log in CLF
- Currently, this will be blocked by:
        - The ability to get the peer so

[2019-05-15 04:24] prasannavl commented on #186
@mmrath I share the same feelings! (also agree that a lot has to do with extractor api being gone). We  probably have to find a nicer way to reduce the boilerplate soon. But it'd be really helpful to first list down some real use cases on the the actual pain point so we can plan on how to address them.

Based off my own experience:

- Say a conversion to String or json, previously was a single `Js

[2019-05-15 07:14] dependabot[bot] opened #225 "Dependabot can't resolve your Rust dependency files"
Dependabot can't resolve your Rust dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-05-15 09:14] yoshuawuyts commented on #162
@prasannavl

I'm thinking the distinction of `tide-core` and `tide` isn't that important. Something we've tried out in  https://github.com/rustasync/runtime/pull/22 is the addition of conditional dependencies based on targets.

I could imagine there would be a way to setup feature flags for Tide that by default you get what you need. And then there's a feature that when enabled removes all depende

[2019-05-15 09:23] Nemo157 commented on #162
One of the primary usecases of a separate `-core` crate is to allow semver breaking updates of the non-`-core` crates if those are primarily used as private dependencies of libraries/applications. As long as all public API of downstream crates use only types from the `-core` crate they can interoperate even if they're using different versions of utilities internally. (This is why `futures` is spli

[2019-05-15 10:17] prasannavl commented on #162
I think @Nemo157 put across what I had in mind beautifully with the future backed experience. It'd be simpler for the middleware crates to iterate and grow easily without tying into the whole batteries included tide. Target based dependencies fit naturally for the runtime world - but I think the `futures` approach is a much better bit for tide.

That being said, if we don't have consensus - one wa

[2019-05-15 10:39] yoshuawuyts commented on #162
@Nemo157 yeah, that was the exact idea I had in mind. Things only graduate once we're ready to commit them feeling like the external API is ready to be tied to Tide's stability model.

But given that they'd be used internally to Tide a lot of the times, that constraint probably feels even more flexible.

---

@prasannavl Up until now I was under the impression we'd achieved consensus on having a s

[2019-05-15 11:07] spacekookie commented on #162
Just wanna chime in and say that I very much agree with @yoshuawuyts idea of having the default experience be as inclusive as possible.

What always annoyed me so far with a lot of web service development in Rust is the shear number of imports and external crates required to explicitly mention.

Having `tide` as one dependency with no additional features doing what you probably want will remove a

[2019-05-15 11:08] prasannavl commented on #162
Yes. This is true. It appears I'm the one who didn't get the nuances of the details correctly. Sorry about that, and I naturally ended up with the split, because that's __the only way__ to really have `tide-` repos for the middleware currently in the tide repo. So, I was under the impression that the only question was what was exposed publicly.

I'll put things in context here:

`Tide` only

- We

[2019-05-15 11:14] Nemo157 commented on #162
You can still directly refer to `tide` and get semver mobility, if you have crate `foo` depending on `tide v0.1` and crate `bar` depending on `tide v0.2` they will still have API compatibility as long as the public types they mention are those from `tide-core v0.1` which both versions of `tide` depend on. If they mentioned _specific_ middleware in their public APIs then there will be semver compat

[2019-05-15 11:20] Nemo157 commented on #162
[code]

this should be

[code]

or you're going to have a _lot_ of issues related to bad feature interactions. If you want all features on by default you just need to specify all features in the `default` feature (e.g. that's [how I just setup `async-compression`](https://github.com/rustasync/async-compression/blob/81b162b9ffa8fc5663e32e70d3732ebd2817c4e1/Cargo.toml#L15) so that users could choose

[2019-05-15 11:26] prasannavl commented on #162
@Nemo157 - Yes, this is the only way to allow for things to be in separate crates. But I see this as being far more inconvenient rather than just using `tide-core` from a middleware perspective. This exactly what I mentioned while I said,

Very simply put features flags are easy to miss, pain to manage, rather than just a simple `tide-core` and not worry, from a middleware author's perspective.

[2019-05-15 12:05] Nemo157 opened #226 "CI doesn't handle feature flags with workspace"
Correctly testing feature flags in workspaces is hard. The current CI setup doesn't handle this appropriately. For some of the issues you could look at how complicated the [`futures` workspaces `.travis.yml`](https://github.com/rust-lang-nursery/futures-rs/blob/master/.travis.yml) is and its history.

I'll try and port some of the simpler ideas from the `futures` setup across here so that as more

[2019-05-15 20:16] fairingrey commented on #163
Closed via #203

[2019-05-15 20:16] #163 closed

[2019-05-16 10:53] yoshuawuyts commented on #205
We should probably treat the two as equivalent. There's even an argument to be made for disallowing empty paths `""`, and require folks type `"/"` so confusion can't occur in the first place.

I don't think we should allow configuration of this. This is the kind of decision that feels like a bit of a bikeshed, and I see one of the benefits of frameworks over ad-hoc module collections is that you d

[2019-05-16 10:59] yoshuawuyts commented on #207
@k-nasa we've talked about HTML templates before, building a module similar to what we're envisioning for authentication and DB connections.

Right now it's possible to create your own HTML responses with a bit of glue code. I made an example of this late last year: https://github.com/yoshuawuyts/playground-html-rust

Hope this is helpful!

[2019-05-16 14:19] yoshuawuyts commented on #215
[surf's CORS module](https://github.com/quixon-labs/surf/blob/master/src/middlewares/cors.rs) might be a good starting point.

[2019-05-16 14:51] yoshuawuyts commented on #225
@prasannavl it looks like our dependency bot is having trouble with the new structure. Would it perhaps be an idea to have a regular `examples` dir without it being a separate workspace member?

[2019-05-16 15:20] Nemo157 opened #230 "Examples produce clippy warnings"
## Bug Report

#### Current Behavior
Examples currently output warnings when checked with clippy:

[code]

#### Expected behavior/code
High quality warning free code.

#### Additional context/Screenshots
https://github.com/rustasync/tide/pull/228 excludes the examples from being run under clippy in CI, once the warnings have been fixed they can be included back into the clippy build.

[2019-05-16 17:47] secretfader commented on #205
I agree that we should choose one path, @yoshuawuyts. My take is that we shouldn't allow `""` at all, in favor of `/`. (It is admittedly a bit of a bikeshed, but not nearly as critical now as it will become. In my view, it's best to answer this now while the framework is developing.)

[2019-05-16 18:41] #26 closed

[2019-05-16 20:26] prasannavl commented on #225
`the binary target name 'examples' is forbidden` - Yikes!

@dependabot Is there a reason `examples` is forbidden as the crate name? Is there a config/workaround to allow?

@yoshuawuyts - Our options:

- Rename examples (crate name, not dir) to `tide-examples` or something and call it a day.
- Including middleware crates as `dev-deps` to tide makes me cringe, but should work to go back, though this

[2019-05-17 08:35] prasannavl commented on #215
So, here's what the 800 LOC actix-web impl buys over the super simplified 50-75 LOC impl of surf:

- Input validations - actix-web is exhaustive taking typed inputs, while surf simply accepts any valid `HeaderValue` and assumes the user to provide valid header values.

Beyond that, pre-flights requests are handled identically by both. For actual requests, surf impl currently doesn't handle:

- The

[2019-05-17 09:35] Nemo157 commented on #225
`examples` is not allowed as the name of a binary, but it is allowed as the name of a library. Because there is no `src/main.rs` in the crate `cargo` doesn't treat it as a binary currently. It appears that dependabot [tries using the manifest with both `src/lib.rs` and `src/main.rs` present](https://github.com/dependabot/dependabot-core/blob/eb7db25250ad9ee7f49f9da9c71c3d98de3e260f/cargo/lib/depen

[2019-05-17 10:39] prasannavl opened #232 "Move enforcement of crate level `forbid` and `deny` from compiler to CI"
## Feature Request

With the insights expressed by @Nemo157 here:  https://github.com/rustasync/tide/pull/222#discussion_r284564899, it eases development to have all the crate level enforcement done at CI, and instead default to `warn` for all code quality enforcement.

Surface area touched by: #220 #222 #194

## Possible Implementation

- Switch all crate level `forbid` and `deny` into `warn`
- E

[2019-05-17 11:37] Nemo157 commented on #232
The second part of the implementation is already covered as part of #228, the clippy job will fail if any `rustc` or Clippy warnings are triggered.

[2019-05-18 19:32] fitzgen opened #234 "Support for server-sent events"
## Feature Request

Support for server-sent events in Tide apps.

## Detailed Description

Support for working creating server-sent event streams, easily, with Tide.

Some more general server-sent events info:

* Standard: https://html.spec.whatwg.org/multipage/#server-sent-events
  * Grammar: https://html.spec.whatwg.org/multipage/server-sent-events.html#parsing-an-event-stream
* Using Server-Sen

[2019-05-19 08:52] k-nasa commented on #207
@yoshuawuyts Thanks!
I will try to add an example if this [PR](#227 ) is merged.

I wonder what kind of things you are trying to add. Where is the information?

[2019-05-19 09:02] k-nasa commented on #223
@prasannavl  How about dividing crate one by one?　LIke [actix/example](https://github.com/actix/examples)
Then, I think that the dependency crates of the example becomes obvious.

[2019-05-19 12:12] yoshuawuyts opened #235 "Rename EndpointResult to Result"
I've been thinking of ways to improve the error handling story in tide, related to #138, and one of the things that came up is that `tide::EndpointResult` is quite inconvenient to type.

I'd like to propose we rename this to `tide::Result` instead, and document that it's intended for use in endpoints. We can then provide examples of the `Into` conversions on the `Result` type too, which should hel

[2019-05-19 12:21] yoshuawuyts opened #236 "impl error combinators for Future<Result<T, E>>"
With `await` syntax coming in the near future, it's worth thinking of how we'll use it. The pattern of `.await?` will likely be quite common, which is a shorthand for "await the future, and Try the result".

When using Tide's error combinators, the `.await` and `?` are split by the combinator, which makes this pattern harder to spot.

I propose we add a `FutureExt` to Tide, which extends `Future<R

[2019-05-19 13:26] yoshuawuyts commented on #234
Reference from a Node.js implementation I did a while back:

## Refs
- https://github.com/choojs/bankai/blob/7afacfc2cbf3913035b8c744b0195c6b7bfe3159/http.js#L132-L142
- https://github.com/choojs/bankai/blob/7afacfc2cbf3913035b8c744b0195c6b7bfe3159/http.js#L170

### Headers
[code]

### heartbeat
[code]

### data
In particular making sure to increment the `id` on every tick is useful because Chrome

[2019-05-19 13:40] k-nasa opened #237 "Can't build with rustc 1.36.0-nightly (3f5152e20 2019-05-08)"
## Question
Help me!
Why can't this be built?
I did not know the cause...

## Additional context
Cargo.toml
[code]
[code]

[2019-05-19 13:43] taiki-e commented on #237
Add these to your `Cargo.toml` and they should be fixed.
[code]

[2019-05-19 13:50] k-nasa commented on #237
@taiki-e I could build! Thank you

[2019-05-19 13:50] #237 closed

[2019-05-19 16:49] #226 closed

[2019-05-19 17:18] fairingrey opened #238 "Consider removing or hiding `take_body` fn"
## Feature Removal
This is a suggestion to remove or hide the `take_body` fn from `tide::Context`.

## Context
With the addition of the `request_mut` function, it might be a good idea to consider removing or hiding this function as it's a bit redundant -- one could achieve the same effect by calling `std::mem::replace(cx.request_mut().body_mut(), Body::empty())`.

Although `request_mut` has a much

[2019-05-19 17:51] yoshuawuyts commented on #238
@fairingrey I feel we should get our streams story fleshed out + documented completely before we move things out. Ideally I could see us implement `AsyncRead` on `Request` directly, but I feel that might not work out well for us in this case.

Which is to say: I don't feel like I'm currently qualified to judge whether we should remove `take_body`. Probably getting a bit more experience with this w

[2019-05-19 17:56] fairingrey commented on #238
That sounds like the better approach for now -- we can always revisit this issue later. The bigger issue at hand should be https://github.com/rustasync/http-service/issues/31. From there we'd be able to better reason about these possible changes.

[2019-05-20 06:52] prasannavl commented on #223
@k-nasa - Personally, I like the convenience of switching between files quickly much nicer than having to go through a dir tree for simple examples.

[2019-05-20 07:11] prasannavl commented on #238
@fairingrey I like the idea of sorting out the streams story with https://github.com/rustasync/http-service/issues/31. That being said - I dislike the idea of encouraging the use of `request_mut` - it's nice to have for low level control, but I think the use of that should be discouraged other than specific cases, like the the `compression` module that you just merged - even which I think we proba

[2019-05-20 13:35] Nemo157 opened #243 "Travis CI caching for tests is timing out"
See for example https://travis-ci.org/rustasync/tide/jobs/534672877#L942-L944

Taking more than 3 minutes probably makes the cache worthless. It's likely that it has accumulated old versions of dependencies that should not be there anymore, I think there are some tools that can cleanup the `target` directory based on what is actually used in the recent builds so that the cache doesn't keep storing

[2019-05-20 13:43] prasannavl opened #244 "Fix documentation and add `warn(missing_docs)` to all crates"
## Feature Request

Currently, adding `missing_docs` into the `warn` attr of every crate ends up with warnings. This should first be documented, and `missing_docs` appended to the warn list going forward.

## Context

#241 , https://github.com/rustasync/tide/pull/241#discussion_r285595723

## Possible Implementation
- Checkout locally, add `missing_docs` to each crate, and fix warnings.

[2019-05-20 13:58] Nemo157 commented on #243
Tool to investigate using: https://lib.rs/crates/cargo-sweep

[2019-05-20 19:02] bIgBV commented on #99
@prasannavl @fairingrey @Nemo157 the repo linked in the [comment above][Comment] contains a really well thought out authentication scheme including sessions for tide. I we should look into bringing this into the tide ecosystem. There can be further discussion as to whether or not we want to include this in `tide-core` or not, but I feel that tide requires a solid sessions and authentication story.

[2019-05-20 21:07] jonathanKingston commented on #138
Maybe it makes sense to handle this requirement at the `IntoResponse` implementation in the result type for the error returned?

I'm already handling HTML this way to prepend a HTML header for example.
[code]

However I currently have to hand craft the param handling which is getting a little error prone:
[code]

In @aturon's example I could just:
[code]

So I would then:
[code]

With an optional:

[2019-05-20 23:25] yoshuawuyts commented on #223
A bit of a different take here, but I really wish `cargo run --example <name>` would work. I don't think the solution in https://github.com/rustasync/tide/pull/227 is quite good enough, as it still breaks the default way of running examples.

[code]

I think this might require moving `tide` from a member of the workspace, to the top level under `src/`. Which is similar to [how we do it in Runtime]

[2019-05-20 23:50] #243 closed

[2019-05-21 03:46] jonathanKingston commented on #9
I fixed up the session handler written by @tomhoule so that it works with the latest master: https://github.com/tomhoule/tide-cookie-session/pull/2/files

Setting up the state middleware:
[code]

Write and reading the session:
[code]

I moved the code to reliance on the cookies middleware as I think it reduces it's complexity.

Also I would like to suggest that the session management take the stri

[2019-05-21 04:27] fairingrey commented on #238
I agree -- most users shouldn't be using `request_mut` anyway, given, as it's only there for particular cases where it's absolutely necessary, such as with `compression` as you've said.

Another remark -- On that note I could refactor it such that middleware context has less overall exposure, but it still requires we somehow have another way to set the body, probably through some `fn set_body(&mut

[2019-05-21 04:27] #238 closed

[2019-05-21 05:23] #107 closed

[2019-05-21 05:23] #152 closed

[2019-05-21 06:15] Nemo157 commented on #230
Fixed by #249

[2019-05-21 06:15] #230 closed

[2019-05-21 07:30] #223 closed

[2019-05-21 07:34] #225 closed

[2019-05-21 16:01] gameldar commented on #12
I found my way back to this issue and see it is open but blocked at the moment. I've just created PR #254 which relates to this - updating the documentation to match what is actually implemented through route-recognizer.

Playing around with the options it does lead to some 'interesting' routes that are supported:
e.g. you can use nameless matches - they are nameless, but in terms of the parameter

[2019-05-21 20:55] Nemo157 opened #257 "Running under runtime-native silently exits when request is made"
[code]

using current `master` of both Tide and Runtime.

Running with `cargo run` starts the server and then sits waiting for a request, once the first request is made it fails to connect and the server silently exits.

Switching to use `runtime_tokio::Tokio` it successfully runs and serves requests.

I would expect if Tide using `http-server-hyper` can't run on `runtime_native` then it would ret

[2019-05-22 02:44] #208 closed

[2019-05-22 14:38] kjvalencik commented on #236
`snafu` recently added a similar feature. https://github.com/shepmaster/snafu/pull/86

[2019-05-22 16:31] fairingrey opened #259 "Occurences of `Context<Data>` should be renamed to `Context<State>`"
Follow-up to https://github.com/rustasync/tide/pull/255#issuecomment-494639085

Following the change by https://github.com/rustasync/tide/blob/master/rfcs/001-app-new.md, when implementing new context extension traits `ContextExt`, the associated type on `Context` should not be named `Data` but instead `State`. This would help improve clarity while keeping the semantics the same.

[This search sho

[2019-05-22 18:13] jonathanKingston commented on #143
Sorry for the delay here, some of it was down to wanting to get used to Tide.

I think it makes sense to have a `Response` type specific to HTML that can accept `DOMTree` that way we have the ability to have hooks into rewriting it easily.
For example we could randomly generate a nonce for script tags on the page easily solving XSS issues and also detect inline scripts and add them to the hash lis

[2019-05-22 18:54] fairingrey commented on #259
closed by #260

[2019-05-22 18:54] #259 closed

[2019-05-22 20:04] Nemo157 commented on #257
I have tried running `http-service-hyper` directly on `runtime-native` and confirmed it exits with a valid error

[code]

checking the code there is a todo about this https://github.com/rustasync/tide/blob/8b667fed05b2cb306d00835188f5a4427431b713/tide-core/src/app.rs#L260-L263

[2019-05-22 22:12] fairingrey commented on #257
What do you suppose would be a good error message for this? [`std::io::ErrorKind`](https://doc.rust-lang.org/std/io/enum.ErrorKind.html) doesn't quite have anything that fits this particular case... Should `serve` return a different type of result with the `hyper::Error` type?

[2019-05-23 12:31] k-nasa commented on #215
May I work on this?

[2019-05-23 14:01] yoshuawuyts commented on #99
It feels we could probably put out an RFC for the design in this so we can discuss the API before implementing it.

We've done an RFC before in https://github.com/rustasync/tide/blob/master/rfcs/001-app-new.md, but modeling it after https://github.com/rustwasm/gloo/blob/master/rfcs/001-mid-level-file-api.md is probably better.

@bIgBV would you want to start the process of drafting an RFC for auth

[2019-05-23 14:03] yoshuawuyts commented on #9
It feels we could probably put out an RFC for the design in this so we can discuss the API before implementing it.

We've done an RFC before in https://github.com/rustasync/tide/blob/master/rfcs/001-app-new.md, but modeling it after https://github.com/rustwasm/gloo/blob/master/rfcs/001-mid-level-file-api.md is probably better.

@tomhoule @jonathanKingston would either of you want to start the proc

[2019-05-23 14:20] tomhoule commented on #9
I would love to, but realistically I won't have enough free time for it in the near future. I'm happy to participate in the discussion though :)

[2019-05-23 14:35] tomhoule commented on #9
Will do (this week), sorry I haven't been able to get to it or even reply yet.

[2019-05-23 15:03] bIgBV commented on #99
@yoshuawuyts I'll open an RFC by tomorrow.

[2019-05-23 15:05] jonathanKingston commented on #9
No rush, I was just trying to prioritise rather than expecting you to have read it :smiley: thanks!

[2019-05-23 16:37] Nemo157 commented on #187
A downside of the chosen convention I recently ran into is not being able to actually bring multiple `ContextExt` into scope. A workaround is to use the relatively recent `use foo::Foo as _;` feature to import the traits _methods_ into scope without having the trait nameable:

[code]

This can also be mitigated in Tide for prelude users, if Tide has

[code]

then a user adding `use tide::prelude::

[2019-05-23 16:41] bIgBV commented on #187
Having a prelude is certainly useful, and I think we eventually should have one for the most common extension traits, but not all of them would be a part of the prelude right.

So we might have to rethink the naming scheme itself.

[2019-05-23 17:16] Nemo157 commented on #187
Personally I don't mind the `as _`, and am anti-preludes, so I'm happy to keep using that. (Although I've also had to use it in other places to [force importing _crates_](https://github.com/Nemo157/embrio-rs/blob/2afd9648aca3768fbdb5b464358ed7ec69b4fa0f/examples/pca10031/examples/hello.rs#L4-L5) when I don't use any of their items before, so I may be pre-biased).

[2019-05-23 22:59] #257 closed

[2019-05-24 01:22] bIgBV commented on #187
But don't you think as the ecosystem grows, the number of such imports would be an annoyance to type always.

Though to be fair, most would only be typed once and then forgotten.

[2019-05-24 03:40] prasannavl commented on #99
@bIgBV - This is great to think about! Personally I think both auth and sessions should purely implemented as middleware with some extensions as helpers, and other than the fact that `auth` _optionally_ requires some kind of session backend in specific cases, I think it'd be great if both are approached are two completely independent items.

The way I see it, is similar to how `compression` is han

[2019-05-24 14:06] yoshuawuyts commented on #215
@k-nasa for sure!

[2019-05-24 14:22] yoshuawuyts commented on #143
@jonathanKingston I think that's a really cool proposal! -- it def feels like this is a good direction. A few thoughts tho:

1. Tide probably wants to be generic over rendering frameworks. Rendering seems like something that people might have opinions about, and probably finding a common interface over multiple rendering backends seems like the right approach. This means that it'll be tricky to us

[2019-05-24 15:08] tomhoule commented on #9
The fixup PR is merged, and I invited @jonathanKingston as collaborator to the repo so I'm not a blocker in case you want to work there.

[2019-05-24 16:32] bIgBV commented on #99
@prasannavl those are all some great points. The initial proposal that I came up with was something very similar to what you are proposing here. Having a trait definition in Tide and each authentication backend having its own adaptor fitting to this trait. I did not fleshed out the details, but having this separation of concerns would allow us to be flexible in the kind of schemes that could be su

[2019-05-26 08:44] prasannavl commented on #235
PR #258 moves `EndpointResult` into `endpoint`, which should make it a little more natural. Meanwhile, I think it's more relevant to move this into `tide::Result` _when_ this type can cover a larger ground than just endpoints - possibly be more consistent around middlewares as well. (as in, Middleware today return a future of ` Response` -- if it returns a future of this proposed `Result` too, the

[2019-05-27 08:22] Nemo157 opened #263 "Dealing with panics"
Currently Tide doesn't provide any way to deal with panics in handlers, these just unwind up to the executor and (at least in the case of Tokio) kill the executors thread. During the unwinding the TCP connection is dropped and the client gets something like `The connection was reset`.

My first thought on dealing with this is having a middleware that uses `catch_unwind` to catch the panic and retu

[2019-05-27 11:03] #244 closed

[2019-05-27 11:17] yoshuawuyts commented on #263
@Nemo157 I like the idea of doing a basic thing where we terminate all connections with a 500. I'm a big fan of the panic = abort model, where if we're panicking it means something has gone terminally wrong, and we need to reboot.

I'm a bit hesitant for any more elaborate schemes though. Especially if there's a risk we might hang while we try and return the `500`s (e.g. network timeouts). When a

[2019-05-27 11:41] Nemo157 opened #264 "Dealing with {dead,live}locked applications"
This is mostly an application design issue, but maybe there are ways in which Tide can help users to design their application, or provide middleware that can detect/help resolve issues.

There's a few ways an application can get itself {dead,live}locked, e.g. deadlocking while locking multiple mutexes from the application `State`, panicking while holding a mutex such that all future requests insta

[2019-05-27 11:43] Nemo157 commented on #263
I brought up the poison error because that is a knockon effect from panic unwinding. I don't know if there are other commonly used data structures that you might store in `State` which become unusable during unwinding, but if there are then it seems like a good argument for the "proxy panics through to `App::{serve,run}`" approach where a panic in any handler kills off the entire application (whic

[2019-05-27 12:11] prasannavl commented on #263
@Nemo157 - Are we talking about panics below the tide layer? (as in hyper, networking layers, etc), or above tide layers? (I think below tide they are fairly self contained, and represent more serious ones which probably should and would crash).

One of the things I've been experimenting with for quite some time is to have middlewares (and basically everything) return `Result` instead of Response.

[2019-05-27 12:18] Nemo157 commented on #263
Above tide, in middleware or endpoints. In my case I was part way through implementing a feature so hit an `unimplemented!()` inside one of my endpoints.

[2019-05-27 12:28] prasannavl commented on #263
@Nemo157 - Since I remember us discussing OWIN based C# applications, I think it's a similar strategy I'm proposing here. Have multiple preset middlewares in the beginning - One exception handler (which would become the panic handler doing `catch_unwind` here as exceptional cases), and one general error handler after that which handles `Err` part of `Result<T, E>`.

Also if there's a way to get th

[2019-05-27 12:44] Nemo157 commented on #263
I can open a PR for my middleware that transforms panics into 500s (which can easily change to just return the panic as an error if middleware starts returning results) and take a look at whether it's feasible to implement a middleware that stops the application (I have an idea of how to do it as a side-channel so that it will work with `tide::serve` without having to change `tide::App` at all).

[2019-05-27 12:53] prasannavl commented on #263
@Nemo157 - do we need to stop to stop the application? I mean, isn't this logic best left at one place -- the place being the future's _runtime_? Tokio threadpool for instance has a panic handler, (and the current thread runtime bubbles up if I'm right?) and I suspect `runtime` will likely need that eventually as well.

[2019-05-27 13:05] Nemo157 commented on #263
I want to see exactly what is possible in this space with the current design. Whether there are any issues with proxying a panic back from a middleware into the context in which the `tide::App` is being run, and whether there is some way to attempt a clean shutdown of the `tide::App` which allows all outstanding requests to complete (also useful for better SIGINT/SIGTERM handling, after quick test

[2019-05-27 13:12] prasannavl commented on #263
Ah, that sounds pretty cool! I'm keen to seen to explore this as well.

Currently I do ugly workaround for clean shutdown with a custom hyper backend using hyper's graceful shutdown channel - by manually connecting them to SIGINT/SIGTERM. But one other alternative I was thinking of experimenting with instead of https://github.com/rustasync/http-service/issues/11 was to do that in one of the first

[2019-05-27 13:51] prasannavl commented on #264
I think it'd be really cool, if we could have it and be part of an even larger middleware that provides more common instrumentation, including custom ones (Similar to https://golang.org/pkg/expvar/)

[2019-05-27 13:54] #232 closed

[2019-05-27 14:35] Gowee commented on #155
I think @jjl are looking forward to features similar to [extractors in actix-web](https://actix.rs/docs/extractors/), where desired params are automatically passed to the endpoint function without the needs to be extracted manually from `cx`.

An example from the actix-web docs:
[code]
. It is not necessary at all as a matter of capabilities. But it does help reduce a lot of boilerplate codes.

[2019-05-27 14:53] Gowee commented on #51
Another similar problem involving with the same design choice of routing aforementioned. :

From the perspective of the semantics of HTTP methods, `405 Method Not Allowed` is a better choice over `404 Not Found` when there is an endpoint on a specific route path but request methods are not matched.

For example, https://github.com/rustasync/tide/blob/279e0f05a0a24fba9fc192f1d7956ad60fa0cf24/exampl

[2019-05-27 20:05] chrisdickinson commented on #9
I had some session middleware code underway for a blog site for learning rust; would it be useful to open a PR with that as a jumping off point for conversation? It can absolutely get thrown away – code is cheap etc – but my hope is that it'd help identify expected API affordances. Also, selfishly, I might learn a lot about what _not_ to do in Tide middleware 😅

[2019-05-27 21:16] jonathanKingston commented on #9
Please do post the code.

I think the API design proposed in the existing code is pretty robust
however the implementation likely can be approved.

I'm still writing up the RFC too, it should be finished early this week.

On Mon, 27 May 2019, 21:05 Chris Dickinson, <notifications@github.com>
wrote:

[2019-05-28 19:41] manifest commented on #99
Just a few thoughts on that matter.

I'm on the same page with @prasannavl. It makes perfect sense to separate **authentication** and **authorization** for the following reasons:
- They solve different tasks: **identification of a subject** and managing **access to object** accordingly
- **Authn** is well defined by standards when **authz** highly depends on business logic of an  application
- The

[2019-05-28 20:00] jonathanKingston commented on #9
I did some further analysis with @jamelleg looking into the two implementations, [in doing so I resolved the synchronisation issue of saving sessions](https://github.com/tomhoule/tide-cookie-session/issues/3).

@chrisdickinson implementation:

**TL;DR**: Uses RefCell data between middleware and route to indicate the session has been manipulated. Uses `extensions_mut` on the middleware and `extensi

[2019-05-28 20:36] chrisdickinson commented on #9
Yeah – the RefCell bits I borrowed from actix made me a bit nervous. I found last night that if you were to grab `ctx.session()` ahead of an `.await` and access it after the borrow checker would complain (correctly) about `RefCell` not being `Send`. That might be disqualifying?

Re: the @tomhoule implementation:

- I might suggest making the session id generation pluggable – or at least, controlle

[2019-05-29 12:34] jonathanKingston commented on #143
I agree with depending on `DOMTree` isn't agnostic enough, we could expose the CSRF token into the context via an extension.

Implementing String parsing likely will remove the performance benefits of pure strings. So the CSRF code will likely just have to rely on authors doing the right thing rather than have compile time types saving them from forgetting to tag a form.

I think the base API can

[2019-05-30 01:19] jonathanKingston commented on #9
I'm not sure, I think however it can be refactored not to need the `unsafe` code which is worth checking.

+1 agree, I was expecting to make the implementation part of the default trait implementation

I don't think it does, it's only saved on explicit save. I see the benefit you mention of.

I'm not a fan of this approach but certainly permitting this is a good idea through extension.

In short I

[2019-05-31 23:15] rvolgers opened #268 "Static file example allows traversal outside static file root"
## Bug Report

#### Current Behavior

The static file server example is flawed in a way that will allow access to all files on the system.

#### Code/Gist

[code]

Then run this Python script:
[code]

#### Expected behavior/code

I expected an HTTP 404 error instead of my `/etc/passwd` file.

#### Environment

Linux (but almost certainly affects Windows as well)

#### Possible Solution

Do what th

[2019-06-01 07:30] tomhoule commented on #268
I am not completely clear on the interaction with URL encoding, but there was an attempt to protect against this in [tide-static-files](https://github.com/tomhoule/tide-static-files/blob/master/src/lib.rs#L79). I hope I can find the time to see how this can be contributed to tide soon.

[2019-06-01 08:40] milesgranger opened #269 "Get remote address / requester IP"
## Question

Is there a way to obtain the remote IP of the incoming request?

Would have imagined something like [what actix-web does](https://docs.rs/actix-web/1.0.0-rc/actix_web/dev/struct.ConnectionInfo.html#method.remote) without going through the headers?
[code]

[2019-06-01 11:32] DCjanus commented on #269
Same question with me.

[2019-06-01 20:56] kjvalencik commented on #56
@aturon Is your comment from https://github.com/rustasync/tide/issues/56#issuecomment-441431338 still a limitation of the compiler? I'm trying to accomplish something similar but, have had difficulty finding a tracking issue or anything related. Thanks!

[2019-06-02 06:55] mehcode commented on #264
Since we're talking about PoisonError and parking-lot, as a PSA, please look to [`futures::lock::Mutex`](https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.16/futures/lock/struct.Mutex.html). `std::sync::Mutex` is under the `std::sync` umbrella and is for synchronization between threads.

Usage becomes:

[code]

No `PoisonError` to be concerned with.

---

This is probably out of sco

[2019-06-02 16:20] gameldar opened #271 "[RFC] Extensible routing in Tide"
## Summary
This RFC tries to determine if extensible routing is needed in Tide

## Motivation
Discussions around PRs #254 (largely on discord) and #258 addressed the question of being able to replace or change the implementation of routing within Tide to address different needs for different applications. The existing routing within Tide has issues that need addressing (#12) and how these issues a

[2019-06-03 08:20] Nemo157 commented on #264
Unless the waker panics when [attempting to wake another task](https://github.com/rust-lang-nursery/futures-rs/blob/526259e3e25e65cc32653f6a8e0244db2faccb2e/futures-util/src/lock/mutex.rs#L103) if we abandon acquiring the mutex, that will poison the [`std::sync:::Mutex` protecting the list of wakers](https://github.com/rust-lang-nursery/futures-rs/blob/526259e3e25e65cc32653f6a8e0244db2faccb2e/futu

[2019-06-03 09:22] mehcode commented on #264
Fair enough. I had meant you don't need to deal with the potential error return but it seems its a panic instead.. not sure I like that. I didn't review the lock that closely.

---

Totally agree that good examples should be done. I do feel Mutexs in general (even using a futures-aware mutex) in async code is _weird_. You generally want a lockfree data structure if anything, state is bad (tm) and

[2019-06-03 21:55] fundon commented on #271
Use [path-tree](https://github.com/trek-rs/path-tree) instead of route-recognizer?

[2019-06-04 06:25] fairingrey commented on #271
Just my thoughts, but the solution of least resistance it seems to me is to somehow get the maintainers of route-recognizer to accept https://github.com/conduit-rust/route-recognizer.rs/pull/21 (along with the tests) and update Tide to use that version with that particular routing behavior, and to keep the router as a core component of Tide for now.

I think that's fine, and that would actually li

[2019-06-05 03:16] fairingrey commented on #271
Mentioned it in the Discord team channel, and I might as well mention it here too -- I'm in the middle of working on my implementation of the above idea on this branch https://github.com/fairingrey/tide/tree/path_table

Note that routes are declared differently in this implementation than in Tide's current form:

* Instead of declaring named segments via a leading colon e.g. `:foo`, you declare th

[2019-06-05 03:18] tirr-c commented on #271
To be fair: quoting @aturon from https://github.com/rustasync/tide/issues/141#issuecomment-467547413, route-recognizer is used in crates.io as a transitive dependency (`crates.io > conduit-router > route-recognizer`), it was just not needed to update often.

We've originally used `path-table` before (it was written to be used in Tide), but switched to `route-recognizer` (for now) as `path-table` h

[2019-06-05 06:29] fundon commented on #271
Thoughts:

* Use `{}` instead of `:`
* Named parameters: `{foo}` / `{}` instead of `:foo` / `:`
* Catch-All parameters: `{bar}*` / `{}*` instead of `:bar*` / `:*` / `*bar` / `*`, and  they must always be at the end of the pattern.
* Custom regex parameters: `{id:[\d+]}` ?

### Example

[code]
A tree struct from path-tree, just show

[code]

### How to match?

Recursive lookup, follow the steps bel

[2019-06-06 09:42] yoshuawuyts commented on #143
@jonathanKingston oh, I like the approach you're proposing a lot. Given some magic string (e.g. `_CSRF_TOKEN` or format string `{:csrf_token}`) we can quickly do a find/replace on it!

We did similar things in Choo + Bankai, by keeping a hash-addressed LRU cache around to store individual templates. I feel this can be useful, but feels like a slightly different concern. I think given Rust deals wi

[2019-06-06 09:46] yoshuawuyts commented on #9
@jonathanKingston ping, I was curious if you got around to trying out the unification.

[2019-06-06 09:57] yoshuawuyts commented on #56
@kjvalencik I believe similar restrictions still apply.

[2019-06-06 09:59] yoshuawuyts commented on #269
Related issue: https://github.com/rustasync/http-service/issues/25.

@milesgranger we definitely want to add this, but it requires wrangling Hyper into allowing us to access this value, which has proven to be slightly challenging.

[2019-06-06 12:11] #215 closed

[2019-06-06 14:15] kjvalencik commented on #56
Thanks @yoshuawuyts. Is https://github.com/rustasync/team/issues/19 the related issue?

[2019-06-06 14:56] yoshuawuyts commented on #187
A few data points:

- [RFC-0445](https://rust-lang.github.io/rfcs/0445-extension-trait-conventions.html#the-convention) defines the general schema of how to name `Ext` traits.
- https://github.com/rustasync/futures-timer/pull/18 recently went through a similar question, and we settled on `FooExt` where `FooExt as _` can be used to prevent conflicts
- In [Runtime's time PR](https://github.com/rusta

[2019-06-06 15:02] Nemo157 commented on #187
One thing to keep in mind is that _examples_ should use `as _` as well if that's how users are expected to use them (relevant to https://github.com/rustasync/futures-timer/pull/18 as that is currently shadowing `futures::prelude::TryFutureExt` in the example, which could really confuse users as to why their method calls suddenly stop working when introducing `futures-timer`).

[2019-06-09 05:30] k-nasa commented on #207
Closed by #267

[2019-06-09 05:30] #207 closed

[2019-06-10 16:27] gameldar commented on #271
As @yoshuawuyts requested - I've rewritten this as PR #274 to following the template for RFCs that has been provided. This'll allow for more focused discussion around elements of the RFC and provides methods multiple threads of discussion.

So I'll close this issue and we can move discussion over there (note I've also fleshed out the RFC more as well, including discussing possible ways of addressi

[2019-06-10 16:27] #271 closed

[2019-06-10 23:18] jonathanKingston commented on #9
Sorry with all hands coming up this has taken a back burner. I will get time to work on it after then, I understand if people want to progress without me.
I had some progress of unifying but I was struggling to get it to work with the application I am working on.

[2019-06-11 14:36] yoshuawuyts commented on #9
@jonathanKingston no worries!

[2019-06-12 13:43] realcr opened #276 "Choosing my own executor"
## Feature Request

Hi, I checked the examples and the documentation, and couldn't find a way to choose my own executor to use with tide. I was wondering if there is a way to do this.
Note: Cross posted on the [actix-web repository](https://github.com/actix/actix-web/issues/913).

## Detailed Description

Consider the basic example shown in this repository:
[code]
On which Executor does this app r

[2019-06-13 13:15] realcr opened #277 "Context.param() panics"
## Bug Report

`Context.param()` seems to panic when used with a POST request.

#### Code/Gist

Consider the following example:

[code]

I attempt to post to the server using the following HTML file:

[code]

This is the runtime error I get:
[code]

#### Expected behavior/code

I expect the server to never crash, and also to print the value of `extra_submit_param`.

#### Environment

- Rust toolch

[2019-06-13 15:52] gameldar commented on #277
There is perhaps a little confusion about the use here - the [Context.param](https://docs.rs/tide/0.2.0/tide/struct.Context.html#method.param) function is for accessing parameters that are defined as part of the uri you are connecting to, not the form parameters. So if you have:
[code]

You can then submit your form to ``/abc/def`` and then use
``cx.param("parta")`` and you'll get the value ``abc`

[2019-06-13 16:41] gameldar opened #278 "Tide-cookies fails to compile with Rust Nightly newer than 2019-06-01"
Largely this is here for a tracking bug of the issue within the rustc - see https://github.com/rust-lang/rust/issues/61579

but it affects building master currently.

## Bug Report

Building the master branch of Tide with a nightly newer than 2019-06-01 results in the following error:
[code]
#### Environment
- Rust toolchain version(s): [e.g. nightly-]
- OS: Linux 4.19.0-5-amd64 SMP Debian 4.19.37

[2019-06-14 12:50] realcr commented on #277
@gameldar: Thanks for the detailed reply and example. Indeed it seems like I did not understand the real use of `param()`. I have also discovered the `body_types.rs` which does what you mention. Sorry for not noticing earlier.

One more thing though: I am a beginner in the world of web technologies but I have been using Rust for a few years already. One thing I can point here is that having a pani

[2019-06-19 16:22] realcr opened #280 "tokio::spawn failed (is a tokio runtime running this future?)"
## Bug Report

I run my app using: `block_on(app.serve("127.0.0.1:10000"))`
During runtime, when serving the first request, `app.serve()` exits with the following error:
[code]

#### Code/Gist

[code]

My cargo.toml:

[code]

#### Expected behavior/code

I expect that the server will keep processing requests, and not close after the first request.

#### Environment

- Rust toolchain version(s):
[c

[2019-06-20 01:18] nikomatsakis opened #281 "`cx.param` into a string doesn't handle url-decoding"
When using `cx.param` to extract strings, I expected it to handle URL decoding for me. However, it did not. I would up writing some [fairly complex code](https://github.com/nikomatsakis/mathema/blob/44b5c0f2111ad93084a4a07cef99335bf3e4a5a9/src/serve.rs#L48-L50) to deal with this. In general, I would expect this to be the default, with some way to request the "raw string" if I really wanted to get

[2019-06-20 16:21] yoshuawuyts commented on #187
The discussion here has more or less quieted down. The futures crate is now also shadowing extension traits. It feels like we've reached consensus, and it's okay to close this now (:

[2019-06-20 16:21] #187 closed

[2019-06-20 19:49] Nemo157 commented on #276
Yes, it should be possible to run a Tide app on your own executor. Tide itself does not spawn futures, it provides an `HttpService` implementation (from https://github.com/rustasync/http-service) that is then run on a server. The `App::run` method is just a helper for using (currently, but presumably this could invisibly change) `http-service-hyper` to run the service. You could write your own `Ht

[2019-06-20 19:53] realcr commented on #276
@Nemo157 : Thanks! I tried to play a bit with the code on master, but I didn't manage to run an App on the local thread executor (using `block_on`). See this issue: https://github.com/rustasync/tide/issues/280.
Most likely I have done something incorrect there.

[2019-06-20 19:53] Nemo157 commented on #280
This is because the default server (`http-service-hyper` on top of `hyper`) is tightly bound to running on Tokio. Hopefully as the `std::future` transition happens `hyper` will break this dependency and `http-service-hyper` will be capable of running on more executors, otherwise I'm sure alternative solutions will be explored.

[2019-06-20 19:56] realcr commented on #280
I searched around but couldn't find an example of how to run `app.serve()` properly with the new design. The tests on master use some kind of simulation, I couldn't find a test that actually calls `app.serve()`.

[2019-06-20 19:59] Nemo157 commented on #280
Even `app.serve()` will have issues when running on a non-Tokio executor because it still uses `http-service-hyper`.

I have been using `runtime` with `runtime-tokio` to handle the compat layers, which makes this very easy to setup:

[code]

[2019-06-24 15:20] tzsword commented on #278
i have same issue

[code]

it seems like same problem with  [#61834](https://github.com/rust-lang/rust/pull/61872#issue-288578268)

there is a PR [ #61872](https://github.com/rust-lang/rust/pull/61872#issue-288578268)

[2019-06-24 21:43] Nemo157 commented on #276
So, after some hacking on [`http-service-hyper`](https://github.com/rustasync/http-service/compare/master...Nemo157:executor-agnostic-hyper) and [`runtime`](https://github.com/rustasync/runtime/compare/master...Nemo157:provide-spawn-instance) I've managed to [get a Tide webapp running on `runtime-native`]https://github.com/Nemo157/abcd/commit/dcd915524cb9a8bdf40027a5e7d21744d4a19921) 🎉

I'll try a

[2019-06-25 12:53] yoshuawuyts commented on #276
@Nemo157 wow, that's very impressive! -- very cool!

[2019-06-26 15:25] manuelmauro commented on #73
I am taking a look at this and came up with the following

[code]
But I got in trouble with the incompatible types of MiddlewareStack.middlewares and Next.next_middlewares
Are there some strong bounds on the type of Next.next_middlewares that I should keep into account or it is possible to work on that?

[2019-06-26 15:32] skade commented on #73
I don't know of any bounds that `next` would need. I'm not even sure if the Stack itself needs the `'static` bound. (an external user could apply it)

[2019-06-30 00:40] zarnipyo opened #284 "Failed to compile tide"
## Question
How to try out tide?

Relatively new to rust community.

I tried out with latest nightly rust and tide from the master github repo.
I got the following compiling error when trying to run helloworld example.

error[E0437]: type `ResponseFuture` is not a member of trait `HttpService`
error[E0220]: associated type `ResponseFuture` not found for `Self`

Any help would be greatly appreciate

[2019-07-02 06:48] zarnipyo commented on #284
The error goes away with version 0.2.0. I'll close the issue here. Sorry about that.

[2019-07-02 06:48] #284 closed

[2019-07-04 10:09] #276 closed

[2019-07-04 11:01] yoshuawuyts commented on #284
@zarnipyo no worries, happy you were able to figure it out!

[2019-07-05 15:22] yoshuawuyts commented on #278
I just installed the latest nightly, updated master, and everything seems to work without a problem. Can people confirm this is still a problem?

[2019-07-05 15:48] DCjanus commented on #278
It seems to have been fixed.

[2019-07-05 15:56] yoshuawuyts commented on #278
Yay, that's great news. Going to go ahead and close this then (:

[2019-07-05 15:56] #278 closed

[2019-07-07 22:01] yoshuawuyts commented on #277
Related: https://github.com/rustasync/tide/issues/281

[2019-07-16 08:04] ouwenkg opened #290 "Can not build for `#![feature(async_closure)]`"
## Question

### Environment:
os: Ubuntu 18.04
rust version: rustc 1.38.0-nightly (4b65a86eb 2019-07-15

### Problem:

[code]

## Additional context

I had tried as compiler prompt but it not works.
[code]

[2019-07-16 08:12] fairingrey commented on #290
As follows #289, the async closure feature has been removed from the library -- but you can essentially have the same behavior through just passing in a regular closure and putting your logic into an `async move` block.

This will likely be the recommended way to do it for now, until the status of that feature changes

[2019-07-16 08:25] taiki-e commented on #290
I think we need to release the next version (`tide` 0.2 uses it and cannot be compiled in `nightly-2019-07-08` or later.). but probably that blocked by next release of `http-service` (see https://github.com/rustasync/tide/pull/288#issuecomment-511214379)

cc @yoshuawuyts

[2019-07-16 08:43] taiki-e commented on #290
Also, by copying the following block to your `Cargo.toml`, you can prepare for the new release.

[code]

[2019-07-16 08:59] ouwenkg commented on #290
Thank you !! It works.

[2019-07-16 13:45] #290 closed

[2019-07-23 16:36] kamyuentse opened #295 "support custom not found endpoint"
## Feature Request
Currently, Tide always returns 404 with an empty body when there is no route matched.

https://github.com/rustasync/tide/blob/9a9b10a6fa7ad3aebbebd7a2404ac4ddc4c17ab7/src/router/core.rs#L71

But, we often expect to return some message to let our user know what happened.

## Possible Implementation

To archive this goal, we have some options under current implementation:

1. set

[2019-07-25 16:08] yoshuawuyts commented on #295
This was added in #64, but removed during the latest round of refactors. We've discussed this during triage and agreed we should restore this API.

[2019-07-25 16:15] yoshuawuyts commented on #281
Notes from triage: we should probably introduce a new API using https://docs.rs/serde_qs/0.5.0/serde_qs/ for this:

[code]

Similar to how our current `cx.body_json` method currently works.

[2019-07-25 16:22] bIgBV commented on #280
Looks like the discussion reached a conclusion on this issue. Closing.

[2019-07-25 16:22] #280 closed

[2019-07-25 16:44] yoshuawuyts commented on #269
Note from triage: we're still blocked on this by Hyper.

[2019-07-25 16:55] yoshuawuyts commented on #264
Notes from triage: this is not a priority at the moment, but we do think we'll eventually want to revisit this. We're keeping the issue open to track the discussion.

[2019-07-31 20:52] Vermistuk commented on #290
This took me a good while to find and was exactly what I needed.

[2019-08-03 01:06] secretfader commented on #281
When I wrote the `Context` extension, `serde_qs` had outstanding bugs that were unresolved for longer than preferred. It looks like those have now been cleared up.

I wonder if we can resolve at least a portion of this issue by updating to that library.

[2019-08-04 05:47] pickfire commented on #234
I believe people can just swap `ServerSentEvent` with the data they desired from `Stream<Item = ServerSentEvent>`.

In some cases, it may be better to return JSON over plain text, I wonder if `Stream<Item = Json<Data>>` helps?

[2019-08-04 14:02] najamelan commented on #67
Tungstenite works on a socket which implements `io::Read + io::Write` (tungstenite), or `AsyncRead + AsyncWrite` (tokio-tungstenite).

Here you can have a stream (like a TCP) and tungstenite will handle the websocket handshake for you.

When looking at the examples of [hyper](https://github.com/hyperium/hyper/blob/master/examples/upgrades.rs), it looks like hyper handles the handshake for you. Thi

[2019-08-04 14:21] najamelan commented on #67
ps: [warp has all the code](https://github.com/seanmonstar/warp/blob/master/src/filters/ws.rs) for exposing a Stream+Sink of tungstenite::Message on upgrade. This can inspire implementors.

[2019-08-04 15:24] najamelan commented on #67
Ok, I've given the whole thing some more thought. Here is what I think:

Currently webservers like hyper handle http(s). Tungstenite also does this, as you can let it listen on a type that provides `io::Read + io::Write`. Unfortunately hyper only allows listening for http connections on a TCP (AFAICT). So tungstenite allows you to listen for websocket connections on any type of connection, could b

[2019-08-04 18:54] agalakhov commented on #67
@najamelan Such a layered system was exactly that I wanted when I coded Tungstenite. I wanted to have a single, well-tested system that can work for both async (probably Tokio-based) and purely synchronous (maybe even microcontroller-based) projects.